<div class="swiper b-about-slider">
    <div class="b-about-slider__controller">
        <div class="b-about-slider__prev"><%- include('../img/icon_arrow_small.svg') -%></div>
        <div class="b-about-slider__pagination"></div>
        <div class="b-about-slider__next"><%- include('../img/icon_arrow_small.svg') -%></div>
    </div>
    <div class="swiper-wrapper">
        <a class="swiper-slide e-card" href="https://www.webqua.jp/" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb01.jpg" alt="">
            <h4 class="e-card__title">
                <small>歯科医師・歯科衛生士向け求人メディア</small>
                WEBクオキャリア
            </h4>
            <p class="e-card__text">就職活動中の学生から転職を希望する方まで、幅広い層に対して質の高い求人情報を発信しています。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.webqua.jp/dh/magazine" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb02.jpg" alt="">
            <h4 class="e-card__title">
                <small>歯科衛生士のための就活BOOK</small>
                クオキャリア
            </h4>
            <p class="e-card__text">「職場の顔が見える求人誌」をコンセプトにした、歯科衛生士のための無料就活情報誌。全国の歯科衛生士養成学校へ配本。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.webqua.jp/dr/magazine" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb03.jpg" alt="">
            <h4 class="e-card__title">
                <small>歯科医師のためのキャリア啓発マガジン</small>
                BRUSH
            </h4>
            <p class="e-card__text">これからキャリアを築こうとする歯学部生・臨床研修医のための求人情報に加え、多様な歯科医師のロールモデルをインタビューで紹介。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.quacareer.co.jp/business/school/#service03" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb04.jpg" alt="">
            <h4 class="e-card__title">
                <small>歯科衛生士養成学校向け求人検索システム</small>
                学校求人票管理システム
            </h4>
            <p class="e-card__text">養成学校の求人票に関わる業務削減システムとして、管理システムの開発・提供を行っています。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.webqua.jp/dhcamsta/" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb05.jpg" alt="">
            <h4 class="e-card__title">
                <small>歯科衛生士向け求人動画サイト</small>
                CAMSTA
            </h4>
            <p class="e-card__text">歯科衛生士向けの求人情報を動画で伝える業界初の動画求人メディア。動画ならではのリアルな情報を届けます。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.webqua.jp/drcamsta/" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb06.jpg" alt="">
            <h4 class="e-card__title">
                <small>歯科医師向け求人動画サイト</small>
                CAMSTA 歯科医師
            </h4>
            <p class="e-card__text">業界初の歯科医師向け動画求人メディア。写真や文章だけでは見ることができない「職場のリアル」を掴むことができます。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.webqua.jp/dhint/" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb07.jpg" alt="">
            <h4 class="e-card__title">
                <small>働く人の“言葉”で選ぶ歯科衛生士求人</small>
                R/Leadme
            </h4>
            <p class="e-card__text">さまざまなキャリアを持つ歯科衛生士の声を掲載することで、自分に合った職場を探せるインタビューメディア。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.webqua.jp/drint/" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb08.jpg" alt="">
            <h4 class="e-card__title">
                <small>働く人の“言葉”で選ぶ歯科医師求人</small>
                R/Leadme
            </h4>
            <p class="e-card__text">歯科医師のインタビューを通してキャリアストーリーや働く環境を伝え、職場探しをサポートするインタビューメディア。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.webqua.jp/fes" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb09.jpg" alt="">
            <h4 class="e-card__title">
                <small>歯科衛生士向け合同就職説明会</small>
                DH就活フェス
            </h4>
            <p class="e-card__text">歯科業界最大級、歯科衛生士専門の合同就職説明会。ファーストキャリアを大切にした就職支援を行っています。</p>
        </a>
        <a class="swiper-slide e-card" href="https://www.webqua.jp/meetup" target="_blank">
            <img class="e-card__image" src="/assets/img/about_thumb10.jpg" alt="">
            <h4 class="e-card__title">
                <small>歯科医師向け合同就職説明会</small>
                MEETUP
            </h4>
            <p class="e-card__text">歯科業界最大級、歯科医師限定の合同就職説明会。一般歯科からインプラント治療など幅広い診療で活躍できる医院が出展。</p>
        </a>
    </div>
</div>