<div class="b-aco is-open">
    <div class="b-aco__head">
        <i>01</i>
        <h4 class="b-aco__title">2022年から国家方針に<br class="sp">「国民皆歯科健診」が<br>盛り込まれた。</h4>
        <%- include('../img/icon_arrow_middle.svg') -%>
    </div>
    <div class="b-aco__body">
        <p class="b-aco__copy">口の健康の重要性が注目を集める昨今。健康な歯は全身の健康につながっているため、健康な歯の人が増えれば、国の医療費は大幅に抑制されます。さらに人々の健康寿命が延び、元気に働く高齢者が増えれば、労働力不足の解消にもつながります。私たちは人々の健康の土台となる口の健康に関わる業界を支えているのです。</p>
        <div class="b-aco__image"><img src="/assets/img/about_ill6.png" alt=""></div>
    </div>
</div>

<div class="b-aco">
    <div class="b-aco__head">
        <i>02</i>
        <h4 class="b-aco__title">歯科領域の人材サービスの<br>ファーストペンギン<br class="sp">として多様に展開。</h4>
        <%- include('../img/icon_arrow_middle.svg') -%>
    </div>
    <div class="b-aco__body">
        <p class="b-aco__copy">クオキャリアは口の健康に関わる業界に特化しているため事業領域が狭い？それは大きな誤解です。歯科医院向けの【採用支援事業】【ブランディング支援事業】、求職者向けの【キャリア支援事業】という3つの領域で、WEBサービス開発、アプリ開発、メディア運営など多角的に事業を展開。歯科医院にとって人材採用は極めて重要な経営課題。多様なソリューションとそれを通じて得られる多彩なスキルや経験に、きっと驚くはずです。</p>
        <div class="b-aco__image"><img src="/assets/img/about_ill7.png" alt=""></div>
    </div>
</div>

<div class="b-aco">
    <div class="b-aco__head">
        <i>03</i>
        <h4 class="b-aco__title">お取引のある<br class="sp">歯科医院数は<br>延べ約10,000軒。</h4>
        <%- include('../img/icon_arrow_middle.svg') -%>
    </div>
    <div class="b-aco__body">
        <p class="b-aco__copy">これまでクオキャリアがお取引をさせていただいた歯科医院数は、全国で延べ約10,000軒に達します。その組織規模は、地域に密着した個人医院から大型医療法人まで実に多様。さらに、立ち上げ期・成長期・成熟期といった成長フェーズによって異なる、あらゆる歯科経営の組織課題に対し、柔軟かつ多様なソリューションを提供してきました。家業から企業へ。大きく変化する歯科医院の支援を通じて、私たちは地域社会の健康づくりに貢献してきたのです。</p>
        <div class="b-aco__image"><img src="/assets/img/about_ill8.png" alt=""></div>
    </div>
</div>