<section class="b-contact-form-thanks thanks_area">
    <div class="b-contact-form-thanks__passion">
        <img class="passion_iframe" src="/assets/img/passion.gif" alt="">
        <p class="text">THANK<br>YOU</p>
    </div>
    <p class="b-contact-form-thanks__text">ご応募ありがとうございます！</p>
    <p><a class="b-contact-form__submit" href="/">TOPに戻る</a></p>
</section>