<div style="display: none;">
    <input type="hidden" name="_wpcf7" value="9" />
    <input type="hidden" name="_wpcf7_version" value="6.0" />
    <input type="hidden" name="_wpcf7_locale" value="ja" />
    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f9-p10-o1" />
    <input type="hidden" name="_wpcf7_container_post" value="10" />
    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
    </div>
    <style>
     .confirm_area,
     .thanks_area {
     display: none;
     }
     .wpcf7-response-output{
     display: none;
     }
    </style>
    <section class="input_area">
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>氏名<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" maxlength="20" minlength="3" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required your-name" id="your-name" autocomplete="name" aria-required="true" aria-invalid="false" value="" type="text" name="your-name" /></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>メールアドレス<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" maxlength="50" minlength="5" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email your-email" id="your-email" autocomplete="email" aria-required="true" aria-invalid="false" value="" type="email" name="your-email" /></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>電話番号<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="your-tel"><input size="40" maxlength="11" minlength="10" class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel your-tel" id="your-tel" autocomplete="tel" aria-required="true" aria-invalid="false" placeholder="0359279404" value="" type="tel" name="your-tel" /></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>郵便番号<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="zip-code"><input size="40" maxlength="8" minlength="7" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required zip-code" id="zip" autocomplete="postal-code" aria-required="true" aria-invalid="false" placeholder="1700005" value="" type="text" name="zip-code" /></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>都道府県<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="address-level1"><select class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required address-level1" id="pref" autocomplete="address-level1" aria-required="true" aria-invalid="false" name="address-level1"><option value="">以下から選択してください</option><option value="北海道">北海道</option><option value="青森県">青森県</option><option value="岩手県">岩手県</option><option value="宮城県">宮城県</option><option value="秋田県">秋田県</option><option value="山形県">山形県</option><option value="福島県">福島県</option><option value="茨城県">茨城県</option><option value="栃木県">栃木県</option><option value="群馬県">群馬県</option><option value="埼玉県">埼玉県</option><option value="千葉県">千葉県</option><option value="東京都">東京都</option><option value="神奈川県">神奈川県</option><option value="新潟県">新潟県</option><option value="富山県">富山県</option><option value="石川県">石川県</option><option value="福井県">福井県</option><option value="山梨県">山梨県</option><option value="長野県">長野県</option><option value="岐阜県">岐阜県</option><option value="静岡県">静岡県</option><option value="愛知県">愛知県</option><option value="三重県">三重県</option><option value="滋賀県">滋賀県</option><option value="京都府">京都府</option><option value="大阪府">大阪府</option><option value="兵庫県">兵庫県</option><option value="奈良県">奈良県</option><option value="和歌山県">和歌山県</option><option value="鳥取県">鳥取県</option><option value="島根県">島根県</option><option value="岡山県">岡山県</option><option value="広島県">広島県</option><option value="山口県">山口県</option><option value="徳島県">徳島県</option><option value="香川県">香川県</option><option value="愛媛県">愛媛県</option><option value="高知県">高知県</option><option value="福岡県">福岡県</option><option value="佐賀県">佐賀県</option><option value="長崎県">長崎県</option><option value="熊本県">熊本県</option><option value="大分県">大分県</option><option value="宮崎県">宮崎県</option><option value="鹿児島県">鹿児島県</option><option value="沖縄県">沖縄県</option></select></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>市区町村<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="address-level2"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required address-level2" id="city" autocomplete="address-level2" aria-required="true" aria-invalid="false" value="" type="text" name="address-level2" /></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>町名番地<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="address-level3"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required address-level3" id="area" aria-required="true" aria-invalid="false" value="" type="text" name="address-level3" /></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>建物名
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="address-level4"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text address-level4" id="addr" aria-invalid="false" value="" type="text" name="address-level4" /></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>応募種別<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="syubetsu"><span class="wpcf7-form-control wpcf7-radio syubetsu" id="syubetsu"><span class="wpcf7-list-item first"><label><input type="radio" name="syubetsu" value="新卒採用" /><span class="wpcf7-list-item-label">新卒採用</span></label></span><span class="wpcf7-list-item last"><label><input type="radio" name="syubetsu" value="中途採用" /><span class="wpcf7-list-item-label">中途採用</span></label></span></span></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form alignstart">
            <dt class="b-contact-form__headding">
                <p>メッセージ本文
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="wpcf7-form-control-wrap" data-name="your-message"><textarea cols="60" rows="10" maxlength="2000" class="wpcf7-form-control wpcf7-textarea your-message" id="your-message" aria-invalid="false" name="your-message"></textarea></span>
                </p>
            </dd>
        </dl>
        <p class="b-contact-form__text"><a href="">個人情報保護方針</a>をお読みいただき、<br class="sp">個人情報取扱いに関する同意書に同意ください。
        </p>
        <p class="b-contact-form__text"><span class="wpcf7-form-control-wrap" data-name="acceptance"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label><input type="checkbox" name="acceptance" value="1" class="acceptance" aria-invalid="false" /><span class="wpcf7-list-item-label">個人情報取扱いに関する同意書に同意する。</span></label></span></span></span>
        </p>
        <p class="b-contact-form__submit">確認する<input type="button" class="confirm_button" value="確認する" disabled />
        </p>
    </section>
    <section class="confirm_area">
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>氏名<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_your-name"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>メールアドレス<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_your-email"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>電話番号<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_your-tel"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>郵便番号<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_zip-code"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>都道府県<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_address-level1"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>市区町村<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_address-level2"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>町名番地<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_address-level3"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>建物名
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_address-level4"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form">
            <dt class="b-contact-form__headding">
                <p>応募種別<i>必須</i>
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_syubetsu"></span>
                </p>
            </dd>
        </dl>
        <dl class="b-contact-form alignstart">
            <dt class="b-contact-form__headding">
                <p>メッセージ本文
                </p>
            </dt>
            <dd class="b-contact-form__input">
                <p><span class="confirm_your-message"></span>
                </p>
            </dd>
        </dl>
        <p class="b-contact-form__text">個人情報取扱いに関する同意書に同意する。</p>
        <p class="b-contact-form__submit">この内容で送信<input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="送信" /></p>
        <p class="b-contact-form__text"><input type="button" class="back_button" value="戻る" />
        </p>
    </section>
    <%- include('b-contact-form-thanks') -%>
    <p><script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script><br />
    <script>
     $(function () {
     // 入力内容取得用 変数
     var val;
     // id取得用 変数
     var id;
     // ラジオボタン値取得用 変数
     var radio;
     // チェックボックス値取得用 変数
     var check;
     // input要素のtype属性値取得用（ラジオボタンであるかどうか判別のため）
     var type;
     // ラジオボタン初期値の取得　以下の記述で全てのラジオボタンの初期値を取得
     $("[type='radio']:checked").each(function (index) {
     // ラジオボタン値取得
     radio = $(this).val();
     // ラジオボタンの祖先要素からid名を取得
     id = $(this).parents("[id]").attr("id");
     // 取得したid名を確認用のclass名末尾に付与して、確認画面の値を指定
     $(".confirm_" + id).text(radio);
     });
     //入力欄の内容が変わった際の処理　入力した内容が確認画面へ登録される
     $(".input_area input,.input_area select,.input_area textarea").change(function () {
     //入力内容取得
     val = $(this).val();
     //type属性の取得
     type = $(this).attr("type");
     //type属性がラジオボタンだった場合の処理
     if (type == "radio") {
     // ラジオボタン値取得
     radio = $(this).val();
     // ラジオボタンの祖先要素からid名を取得
     id = $(this).parents("[id]").attr("id");
     // 取得したid名を確認用のclass名末尾に付与して、確認画面の値を指定
     $(".confirm_" + id).text(radio);
     }//type属性がチェックボックスだった場合の処理
     else if (type == "checkbox") {
     // チェックボックス値取得
     check = $(this).val();
     // ラジオボタンの祖先要素からid名を取得
     id = $(this).parents("[id]").attr("id");
     // 取得したid名を確認用のclass名末尾に付与して、確認画面の値を指定
     $(".confirm_" + id).append(check + " / ");
     }//type属性がラジオボタンではなかった場合の処理
     else {
     // 入力欄のid名を取得
     id = $(this).attr("id");
     // 取得したid名を確認用のclass名末尾に付与して、確認画面の値を指定
     $(".confirm_" + id).text(val);
     }
     })
     //確認ボタンを押した際の処理　入力画面を非表示・確認画面を表示
     $(".confirm_button").click(function () {
     $(".input_area").hide();
     $(".confirm_area").show();
     $(window).scrollTop($('#navi').position().top);
     })
     //戻るボタンを押した際の処理　入力画面を表示・確認画面を非表示
     $(".back_button").click(function () {
     $(".input_area").show();
     $(".confirm_area").hide();
     $(window).scrollTop($('#navi').position().top);
     })
     //送信ボタンを押した際の処理　サンクス（完了）画面を表示・確認画面を非表示
     $("[type='submit']").click(function () {
     $(".thanks_area").fadeIn(2000);
     $(".confirm_area").hide();
     $(window).scrollTop($('#navi').position().top);
     })
     //必須項目チェック用　定数の作成
     const target = '[aria-required="true"]';
     //必須項目の内容が変わった際の処理
     $(target).on('keydown keyup keypress change', function () {
     //判定用フラグ
     let flag = true;
     //必須項目をループで１つずつ確認
     $(target).each(function (e) {
     if ($(target).eq(e).val() === "") {
     flag = false;
     }
     });
     //フラグがtrueなら確認ボタンを有効。falseなら無効にする
     if (flag) {
     //必須項目すべて入力済みであれば有効にする
     $('.confirm_button').removeAttr("disabled");
     }
     else {
     //未入力など漏れがある場合は無効にする
     $('.confirm_button').attr("disabled","");
     }
     });
     })
    </script>
    </p><div class="wpcf7-response-output" aria-hidden="true"></div>
    </form>