<div class="b-faq__wrapper">
    <dl class="b-faq">
        <dt class="b-faq__head"><span>面接日と入社日は相談可能ですか？</span><i></i></dt>
        <dd class="b-faq__body">年1回（4月）の人事考課にて、一人ひとりの成果や仕事ぶりを確認し、その評価に応じて給与・業績賞与を個別に定めています。</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>面接日と入社日は相談可能ですか？</span><i></i></dt>
        <dd class="b-faq__body">年1回（4月）の人事考課にて、一人ひとりの成果や仕事ぶりを確認し、その評価に応じて給与・業績賞与を個別に定めています。</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>面接日と入社日は相談可能ですか？</span><i></i></dt>
        <dd class="b-faq__body">年1回（4月）の人事考課にて、一人ひとりの成果や仕事ぶりを確認し、その評価に応じて給与・業績賞与を個別に定めています。</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>面接日と入社日は相談可能ですか？</span><i></i></dt>
        <dd class="b-faq__body">年1回（4月）の人事考課にて、一人ひとりの成果や仕事ぶりを確認し、その評価に応じて給与・業績賞与を個別に定めています。</dd>
    </dl>
</div>