<div class="b-faq__wrapper">
    <dl class="b-faq">
        <dt class="b-faq__head"><span>面接日と入社日は相談可能ですか？</span><i></i></dt>
        <dd class="b-faq__body">面接日・入社日ともに可能な限り、ご希望に沿います。現職のご都合もあると存じますので、お気軽にご相談ください。</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>履歴書などの個人情報はどのように扱い、管理していますか？</span><i></i></dt>
        <dd class="b-faq__body">お預かりした履歴書・個人情報は採用以外の目的には使用いたしません。また、お預かりした応募書類は返却しておりませんので、あらかじめご了承ください。個人情報に関しては、当社にて責任を持って処分いたします。</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>人事考課について教えてください</span><i></i></dt>
        <dd class="b-faq__body">年1回（4月）の人事考課にて、一人ひとりの成果や仕事ぶりを確認し、その評価に応じて給与・業績賞与を個別に定めています。</dd>
    </dl>
    <%#
    <dl class="b-faq">
        <dt class="b-faq__head"><span>あああああ</span><i></i></dt>
        <dd class="b-faq__body">あああああ</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>あああああ</span><i></i></dt>
        <dd class="b-faq__body">あああああ</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>あああああ</span><i></i></dt>
        <dd class="b-faq__body">あああああ</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>あああああ</span><i></i></dt>
        <dd class="b-faq__body">あああああ</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>あああああ</span><i></i></dt>
        <dd class="b-faq__body">あああああ</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>あああああ</span><i></i></dt>
        <dd class="b-faq__body">あああああ</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>あああああ</span><i></i></dt>
        <dd class="b-faq__body">あああああ</dd>
    </dl>
    <dl class="b-faq">
        <dt class="b-faq__head"><span>あああああ</span><i></i></dt>
        <dd class="b-faq__body">あああああ</dd>
    </dl>
    _%>
</div>