<div class="b-flow-small__wrapper">
    <dl class="b-flow-small">
        <dt class="b-flow-small__head">入社〜2週目</dt>
        <dd class="b-flow-small__body">
            <strong>入社後</strong>
            <span>研修事業内容や商材について学習</span>
        </dd>
    </dl>
    <dl class="b-flow-small">
        <dt class="b-flow-small__head">3〜4週目</dt>
        <dd class="b-flow-small__body">
            <strong>営業研修</strong>
            <span>ロールプレイング・トークスクリプトの作成</span>
        </dd>
    </dl>
    <dl class="b-flow-small">
        <dt class="b-flow-small__head">1ヶ月目〜</dt>
        <dd class="b-flow-small__body">
            <strong>営業活動を開始</strong>
            <span>アポイント獲得のための営業活動</span>
        </dd>
    </dl>
    <dl class="b-flow-small">
        <dt class="b-flow-small__head">半年〜2年目</dt>
        <dd class="b-flow-small__body">
            <strong>本配属</strong>
            <span>各人の適正や志向に応じて配属先を決定</span>
        </dd>
    </dl>
</div>
