<div class="b-flow__wrapper">
    <dl class="b-flow">
        <dt class="b-flow__head oubo">応募</dt>
        <dd class="b-flow__body">
            <a href="/entry/">Entry</a> ボタンよりご応募ください。追って、こちらからご連絡いたします。
            <small>
                ※選考結果につきましては、合否に関わらずご連絡いたします<br>
                ※時期などにより選考フローは前後する場合はございます
            </small>
        </dd>
    </dl>
    <dl class="b-flow">
        <dt class="b-flow__head">一次選考</dt>
        <dd class="b-flow__body">応募書類を基に、書類選考を実施。</dd>
    </dl>
    <dl class="b-flow">
        <dt class="b-flow__head">二次選考</dt>
        <dd class="b-flow__body">適性テスト（Web受験）を実施。</dd>
    </dl>
    <dl class="b-flow">
        <dt class="b-flow__head">書類選考</dt>
        <dd class="b-flow__body">人事面接を実施。</dd>
    </dl>
    <dl class="b-flow">
        <dt class="b-flow__head">最終選考</dt>
        <dd class="b-flow__body">役員面接を実施。</dd>
    </dl>
    <dl class="b-flow">
        <dt class="b-flow__head">内定</dt>
        <dd class="b-flow__body">応募から内定まで最短で3週間程度を予定しています。</dd>
    </dl>
</div>
