<div class="b-information__wapper">
    <dl class="b-information">
        <dt class="b-information__head">待遇・福利厚生</dt>
        <dd class="b-information__body">
            <p>・ 完全週休2日制（土日祝）</p>
            <small>
                ※年に数回程度、日曜出社あり。<br>
                会社カレンダーで定めた日および当社主催イベント運営のサポートで日曜出社を依頼する場合あり。その場合は平日に振替休日を取得。
            </small>
            <p>
            ・ 夏季休暇（9日間）<br>
            ・ 年末年始休暇（7日間）<br>
            ・ ゴールデンウィーク<br>
            ・ 有給休暇（入社年度から年間22日を付与。内14日は計画的付与により全員が完全取得）<br>
            ・ 年間休日127日（計画的付与14日含む）<br>
            ・ 産休・育休（取得実績あり）<br>
            ・ 育児時短勤務（実績あり）
            </p>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">給与</dt>
        <dd class="b-information__body">
            <ol>
                <li>月給23万円（想定年収322万円）</li>
                <li>月給286,200円～500,000円（想定年収400万円～700万円）</li>
            </ol>
            <small>※委細面談の上、決定いたします</small>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">勤務地</dt>
        <dd class="b-information__body">
            <p>
            株式会社クオキャリア　東京本社<br>
            東京都豊島区南大塚3-46-3 いちご大塚ビル6F
            </p>
        </dd>
    </dl>
</div>