<div class="b-information__wapper">
    <dl class="b-information">
        <dt class="b-information__head">応募職種</dt>
        <dd class="b-information__body">
            <ol>
                <li>【新卒】 総合職（ビジネスコース）</li>
                <li>【中途】 制作職（企画編集／編集アシスタント／取材ディレクター）</li>
            </ol>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">応募資格</dt>
        <dd class="b-information__body">
            <ol>
                <li>入社年の3月末に4年制大学・大学院を卒業予定の方</li>
                <li>各業務のご経験をお持ちの方（業種・業界不問）</li>
            </ol>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">給与</dt>
        <dd class="b-information__body">
            <ol>
                <li>月給24万円</li>
                <li>想定年収400万～700万円</li>
            </ol>
            <small>※委細面談の上、決定いたします</small>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">勤務地</dt>
        <dd class="b-information__body">
            <p>株式会社クオキャリア　東京本社<br>東京都豊島区南大塚3-46-3 いちご大塚ビル6F</p>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">勤務時間</dt>
        <dd class="b-information__body">
            <p>変形労働時間制（週平均実働40時間）<br>月～金 9：45～19：30（休憩60分）</p>
            <small>※月～木曜日のうち1日（各自指定）は9：00～14：00勤務<br>※月～金曜日のうち祝日がある週については全日9：45～19：30（休憩60分）</small>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">雇用形態</dt>
        <dd class="b-information__body">
            <p>正社員</p>
            <small>※試用期間6ヶ月間の給与・待遇は変動ありません</small>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">待遇・福利厚生</dt>
        <dd class="b-information__body">
            <ul>
                <li>昇給年1回</li>
                <li>賞与年2回</li>
                <li>交通費支給（規定あり）</li>
                <li>社会保険完備（雇用・労災・健康・厚生年金）</li>
                <li>役職手当</li>
                <li>退職金制度</li>
                <li>資格取得支援制度あり</li>
                <li>レクリエーション（キックオフ、納会、BBQなど）</li>
                <li>コーヒーサーバー、ウォーターサーバーの利用</li>
                <li>リラックスルームの利用</li>
            </ul>
        </dd>
    </dl>
    <dl class="b-information">
        <dt class="b-information__head">休日休暇</dt>
        <dd class="b-information__body">
            <ul>
                <li>完全週休2日制（土日祝）</li>
            </ul>
            <small>※年に数回程度、日曜出社あり。<br>会社カレンダーで定めた日および当社主催イベント運営のサポートで日曜出社を依頼する場合あり。その場合は平日に振替休日を取得。</small>
            <ul>
                <li>夏季休暇（9日間）</li>
                <li>年末年始休暇（7日間）</li>
                <li>ゴールデンウィーク</li>
                <li>有給休暇</li>
                <li>産休・育休（取得実績あり）</li>
                <li>育児時短勤務（実績あり）</li>
            </ul>
        </dd>
    </dl>
</div>