<div class="b-job-block">
    <div class="b-job-block__info">
        <h5 class="b-job-block__title">経営戦略部門</h5>
        <p class="b-job-block__text">商品・新規事業の開発、販売戦略の立案・実行</p>
        <dl class="b-job-block__ex">
            <dt>職種例</dt>
            <dd>企画職</dd>
        </dl>
        <div class="b-job-block__image sp-img"><img src="/assets/img/about_ill1.png" alt=""></div>
        <dl class="b-job-block__rewarding">
            <dt>やりがい</dt>
            <dd>ゼロイチの仕事に携われる</dd>
            <dd>就活の次のスタンダードを生み出すことに関われる</dd>
        </dl>
    </div>
    <div class="b-job-block__image pc-img"><img src="/assets/img/about_ill1.png" alt=""></div>
</div>

<div class="b-job-block">
    <div class="b-job-block__info">
        <h5 class="b-job-block__title">セールス部門</h5>
        <p class="b-job-block__text">歯科医院の人材採用に関する課題解決に向け、自社求人サービスの提案・販売をする</p>
        <dl class="b-job-block__ex">
            <dt>職種例</dt>
            <dd>営業職</dd>
        </dl>
        <div class="b-job-block__image sp-img"><img src="/assets/img/about_ill2.png" alt=""></div>
        <dl class="b-job-block__rewarding">
            <dt>やりがい</dt>
            <dd>担当医院の社外人事部というくらい深く関われる</dd>
            <dd>困ったことがあったら一番に相談してもらえる</dd>
        </dl>
    </div>
    <div class="b-job-block__image pc-img"><img src="/assets/img/about_ill2.png" alt=""></div>
</div>

<div class="b-job-block">
    <div class="b-job-block__info">
        <h5 class="b-job-block__title">IT企画部門</h5>
        <p class="b-job-block__text">自社WEBサイト・アプリの企画・開発や社内インフラ（サーバー構築・ネットワーク管理等）の整備</p>
        <dl class="b-job-block__ex">
            <dt>職種例</dt>
            <dd>PM / SE  / WEBディレクター</dd>
        </dl>
        <div class="b-job-block__image sp-img"><img src="/assets/img/about_ill3.png" alt=""></div>
        <dl class="b-job-block__rewarding">
            <dt>やりがい</dt>
            <dd>新しい試みに企画から携われる</dd>
            <dd>会社が変化する瞬間に立ち会える</dd>
        </dl>
    </div>
    <div class="b-job-block__image pc-img"><img src="/assets/img/about_ill3.png" alt=""></div>
</div>

<div class="b-job-block">
    <div class="b-job-block__info">
        <h5 class="b-job-block__title">クリエイティブ部門</h5>
        <p class="b-job-block__text">自社メディア（雑誌、動画、WEB）の企画・制作</p>
        <dl class="b-job-block__ex">
            <dt>職種例</dt>
            <dd>企画編集 / デザイナー / DTP  / 動画クリエイター</dd>
        </dl>
        <div class="b-job-block__image sp-img"><img src="/assets/img/about_ill4.png" alt=""></div>
        <dl class="b-job-block__rewarding">
            <dt>やりがい</dt>
            <dd>高い効果の出る広告づくりを学べる</dd>
            <dd>広告による採用成功の声が聞ける</dd>
        </dl>
    </div>
    <div class="b-job-block__image pc-img"><img src="/assets/img/about_ill4.png" alt=""></div>
</div>

<div class="b-job-block">
    <div class="b-job-block__info">
        <h5 class="b-job-block__title">人事・経理部門</h5>
        <p class="b-job-block__text">人事や経理業務、総務を通してクオキャリアで働く人をサポートする</p>
        <dl class="b-job-block__ex">
            <dt>職種例</dt>
            <dd>人事 / 経理 / 総務</dd>
        </dl>
        <div class="b-job-block__image sp-img"><img src="/assets/img/about_ill5.png" alt=""></div>
        <dl class="b-job-block__rewarding">
            <dt>やりがい</dt>
            <dd>会社全体の課題解決に関わり、会社の成長に貢献できる</dd>
            <dd>一緒に働く人たちから直接ありがとうが聞ける</dd>
        </dl>
    </div>
    <div class="b-job-block__image pc-img"><img src="/assets/img/about_ill5.png" alt=""></div>
</div>

<div class="b-job-block-other">
    <h5 class="b-job-block-other__title">新規事業のアイデア<br class="sp">歓迎します</h5>
    <p>配属された場所での活躍を期待していますが、もし事業として社会に貢献できるアイデアをお持ちの場合には、ぜひともそのプランを聞かせてください。実際に一から企画して入社3年目にイベント事業部を立ち上げたメンバーもいます。あなたの熱を事業化して、社会に還元していきましょう。</p>
</div>