<div class="b-job-block">
    <div class="b-job-block__info">
        <h5 class="b-job-block__title">セールス部門</h5>
        <p>マーケティングや商品企画など成長戦略の立案・推進などを担う</p>
        <dl>
            <dt>職種例</dt>
            <dd>
                マーケティング<br>
                プロジェクトマネージャー（仮）
            </dd>
        </dl>
    </div>
    <div class="b-job-block__other">
        <div class="b-job-block__image"></div>
        <dl>
            <dt>やりがい</dt>
            <dd>・自分の企画したサービスが世の中で活用される ・経営者に頼られる（すべて仮）</dd>
        </dl>
    </div>
</div>

<div class="b-job-block-other">
    <h5 class="b-job-block-other__title">新規事業のアイデア歓迎します</h5>
    <p>配属された場所での活躍を期待していますが、もし事業として社会に貢献できるアイデアをお持ちの場合には、ぜひともそのプランを聞かせてください。実際に一から企画して入社3年目にイベント事業部を立ち上げたメンバーもいます。あなたの熱を事業化して、社会に還元していきましょう。</p>
</div>