<aside class="b-loading" data-scene="0">
    <div class="b-loading__scene scene1">
        <dl class="e-copy">
            <dt><%- include('../img/copy_ja.svg') -%></dt>
            <dd><%- include('../img/copy_live.svg') -%></dd>
            <dd><%- include('../img/copy_with.svg') -%></dd>
            <dd><%- include('../img/copy_passion.svg') -%></dd>
        </dl>
    </div>
    <div class="b-loading__scene scene2">
        <iframe class="b-loading__scene--passion passion_iframe" src="/passion.html" frameborder="0"></iframe>
    </div>
    <div class="b-loading__scene scene3">
        <div class="b-loading__image kv1">
            <picture>
                <source media="(max-width:599px)" srcset="/assets/img/kv1_sp.jpg">
                <img src="/assets/img/kv1_pc.jpg" alt="">
            </picture>
            <div class="kv-slider__passion"><iframe class="passion_iframe" src="/passion.html" frameborder="0"></iframe></div>
        </div>
    </div>
</aside>