<div class="b-chat-section">
    <div>
        <img class="rellax chat01small1" src="/assets/img/chat01small1.webp" alt="" data-rellax-speed="-1">
        <p><i>池田</i>「気にかけてくれる」ですね。印象深いのは営業として初受注したときのこと。営業部の皆さんはもちろん、他部署の方も社内ですれ違った時に「おめでとう」と声をかけてくれて。まだ入社して数ヶ月だったのに、会社全体で自分のがんばりを気にかけてくれていると感じて、うれしかったです。</p>
        <p><i>佐藤Y</i>私も営業活動には苦戦したんですが、当時の営業部の先輩方が「今の電話対応、良かったよ」「メールの工夫ができているね」と声をかけてくれるのが励みでした。それに部署内に限らず、誰に質問してもやさしく答えてくれて。私の質問に対して先輩が「気づいてくれてありがとう」と言ってくれたことは忘れられません。</p>
    </div>
    <div>
        <p><i>佐藤K</i>たしかに入社前は営業ってノルマが厳しかったり、達成できなかったら詰められたり……厳しく辛いイメージがあったけど、そういうのは一切ないですね。本当にいろんな方が声をかけてくれるし、アドバイスをもらえますね。</p>
        <p><i>小掠</i>ワンフロアオフィスというのもあるかも。環境的にも隔たりがないから、誰にでも相談しやすいですよね。</p>
        <p><i>池田</i>佐藤さんは私の直属の先輩として、日々の振り返りを担当してくれていますよね。いつも前向きな気持ちになれて、ありがたいなって思っています。</p>
        <img class="rellax chat01small2" src="/assets/img/chat01small2.webp" alt="">
        <img class="rellax chat01small3" src="/assets/img/chat01small3.webp" alt="" data-rellax-speed="2">
    </div>
    <div>
        <p><i>佐藤K</i>仕事は楽しんだ方がいいと思っているので。もちろんやらないといけないことはありますけど、その中でも楽しくなる工夫やコミュニケーションは意識しています。営業の仕事に対して不安を感じる方もいますが、ロールプレイングやトークマニュアルなどもありますし、クオキャリアはみんなでサポートしていくスタイル。</p>
        <p><i>小掠</i>サポートといえば、新人の頃、私のアポイントに先輩が同行してくれて、受注が決まったことがあったんです。まだ商談はできなかったので、受注が決まったのはほぼ先輩のおかげ。にもかかわらず、会社に報告の電話をするときは、私の受注が決まったと、すごくうれしそうに伝えてくれた。電話越しに大きな拍手も聞こえてきて。本当にあたたかい会社だなぁと。</p>
        <img class="rellax chat01small4" src="/assets/img/chat01small4.webp" alt="" data-rellax-speed="-3">
        <img class="rellax chat01small5" src="/assets/img/chat01small5.webp" alt="" data-rellax-speed="2">
    </div>
    <div>
        <p><i>杉崎</i>私は他社で働いた経験がありますが、クオキャリアの「思いやる姿勢」は抜群ですね。お互いを思いやっていることが、一人ひとりの言葉遣いや態度に表れています。</p>
        <p><i>梁</i>私はマレーシア出身で言葉や文化に違いを感じることもあります。でも嫌な思いをしたことは本当にありません。同じ部署の杉崎さんを筆頭に、誰もが信頼を持って、あたたかく接してくれています。</p>
        <img class="rellax chat01small6" src="/assets/img/chat01small6.webp" alt="" data-rellax-speed="1">
    </div>
</div>