<div class="b-chat-section">
    <div>
        <img class="rellax chat02small1" src="/assets/img/chat02small1.webp" alt="" data-rellax-speed="-1">
        <img class="rellax chat02small2" src="/assets/img/chat02small2.webp" alt="">
        <p><i>梁</i>「柔軟でオープン」ですね。新しい仕事を任されたときのこと。チーム内には経験豊富なメンバーも多くて、最初は「自分の考えが本当に通用するのか」と不安を感じていました。でもミーティング中に思い切ってアイデアを提案すると、メンバー全員がそれに対して前向きに議論してくれたんです。改めてクオキャリアの開放的な文化を感じました。</p>
        <p><i>杉崎</i>良いアイデアは社歴や年齢に関係なく大歓迎です。</p>
        <p><i>梁</i>どんなアイデアも、やってみないとわからない部分もあると思うんです。その点においても、クオキャリアは失敗を恐れるより一回やってみようという姿勢。</p>
    </div>
    <div>
        <p><i>佐藤Y</i>たしかに。新しいアイデアやちょっとした工夫を思いついたら、まずは試してみます。若手だからと遠慮することはありません。</p>
        <p><i>池田</i>試した結果、良いと感じたら共有し合うのもクオキャリアらしさですよね。</p>
        <p><i>佐藤K</i>営業部だと、お客さまの反応が良かったメールを共有したり、架電のトークを改善したり。</p>
        <img class="rellax chat02small3" src="/assets/img/chat02small3.webp" alt="" data-rellax-speed="1">
    </div>
    <div>
        <p><i>小掠</i>クオキャリアは、お客さまや求職者の皆さんの役に立ちたいという気持ちが強い人ばかり。だから個人の成果や部署に縛られず、垣根なく協力し合えるんでしょうね。</p>
        <p><i>佐藤K</i>仕事に対して真摯ですよね。ただこなすのではなくて、よりお客さまに喜んでいただくために努力する先輩の姿をたくさん見てきました。</p>
        <p><i>杉崎</i>社員のアイデアから新規事業が生まれることも。当然うまくいくことばかりではありませんが、チャレンジする環境があるというのは大事ですよね。</p>
        <img class="rellax chat02small4" src="/assets/img/chat02small4.webp" alt="" data-rellax-speed="-3">
        <img class="rellax chat02small5" src="/assets/img/chat02small5.webp" alt="" data-rellax-speed="1">
    </div>
</div>