<div class="b-chat-section">
    <div>
        <img class="rellax chat03small1" src="/assets/img/chat03small1.webp" alt="">
        <p><i>佐藤Y</i>社長の中山をはじめ、管理職の方とも距離が近く、みんな仲が良いこと。社長室もありませんし、普通にオフィス内を歩いていて。</p>
        <p><i>一同</i>（笑）</p>
        <p><i>佐藤Y</i>本当に、いつも普通な感じなんです。そして気さくに話しかけてくれる環境には驚きました。「お誕生日だったよね、おめでとう」とか。</p>
        <p><i>小掠</i>立場にかかわらず「さん」づけで呼ぶことにもあらわれていますよね。仕事のことはもちろん、ちょっとした雑談でも垣根なく盛り上がって話しています。</p>
    </div>
    <div>
        <img class="rellax chat03small2" src="/assets/img/chat03small2.webp" alt="" data-rellax-speed="-1">
        <img class="rellax chat03small3" src="/assets/img/chat03small3.webp" alt="">
        <p><i>池田</i>私は営業という仕事に対して意外さを感じました。特に架電営業は、まったく話を聞いてもらえなかったらどうしようと不安でしたが、ニーズがあればお客さまはちゃんと話を聞いてくださいます。それに先ほど話に出たように、先輩方のサポートも手厚いので、思ったよりもずっとスピード感を持って成長できました。</p>
        <p><i>梁</i>私が驚いたのは、先輩方が職域を超えて複数のスキルを持っていること。自分の専門性は追求しながらも、それだけで満足しない。複数のスキルを持っていると、部署を超えて連携するときにとてもスムーズです。</p>
    </div>
    <div>
        <img class="rellax chat03small4" src="/assets/img/chat03small4.webp" alt="" data-rellax-speed="-1">
        <img class="rellax chat03small5" src="/assets/img/chat03small5.webp" alt="" data-rellax-speed="1">
        <p><i>杉崎</i>「私はここしかできない」「これしかやらない」という姿勢の人はいないですね。</p>
        <p><i>梁</i>いないですね。もっとこうすればお互いに良い仕事ができるんじゃないかという視点を常に持っていると思います。</p>
        <img class="rellax chat03small6" src="/assets/img/chat03small6.webp" alt="">
    </div>
</div>