<div class="b-chat-section">
    <div>
        <img class="rellax chat04small1" src="/assets/img/chat04small1.webp" alt="" data-rellax-speed="1">
        <p><i>佐藤Y</i>社内外問わずワンチームという考え方ですね。</p>
        <p><i>小掠</i>当社の事業が成立しているのは、社員だけでなく、さまざまな企業やクリエイターの方々のおかげだと考えているので、関わってくださるみんなで“チーム・クオキャリア”なんです。</p>
        <p><i>杉崎</i>その象徴となるイベントが年一回開催される「RUN IN THE LOOP」。いつもお世話になっているパートナーの方々に感謝をお伝えし交流する、ランニングイベントです。</p>
    </div>
    <div>
        <img class="rellax chat04small2" src="/assets/img/chat04small2.webp" alt="" data-rellax-speed="2">
        <p><i>池田</i>「RUN IN THE LOOP」の企画は若手社員が中心。企画を通して、プロジェクトの進め方や関係各所との調整などを学べるので、実際の仕事にも役立ちます。例えば当社開催の就活イベント。企画は専門の部署が行いますが、当日の運営は全社員が関わるので、その連携強化に「RUN IN THE LOOP」の企画経験が役立っています。</p>
        <p><i>梁</i>部署に関係なくアイデアを出すから、当事者意識が強まると感じます。また、縦割りの役割分担ではないので、いつも以上にさまざまなことに挑戦できるのも魅力ですよね。</p>
    </div>
    <div>
        <img class="rellax chat04small3" src="/assets/img/chat04small3.webp" alt="" data-rellax-speed="-1">
        <img class="rellax chat04small4" src="/assets/img/chat04small4.webp" alt="">
        <p><i>杉崎</i>こういった交流イベントは創業間もない頃から開催しています。フットサル、バスケットボール、バーベキューなど形を変えながらも、根底にある価値観は変わりません。記念Tシャツを作っていた時期もあって、10年前のTシャツを今でも着用して、「RUN IN THE LOOP」に参加してくださる方もいるんです。</p>
        <p><i>佐藤K</i>毎年、全国から100名ほどが参加してくださっています。ランニングのタイム更新をめざして１年間準備してくださる方もいらっしゃって。</p>
        <p><i>池田</i>参加者の方々の楽しそうな姿は、私たちにとっても何よりのやりがい。社内外の垣根を超えて、一体となって盛り上がります。</p>
    </div>
    <div>
        <p><i>佐藤K</i>このイベントに現れているように、クオキャリアはチームで一つの目標へ進んでいく力が強いですよね。</p>
        <p><i>佐藤Y</i>ワンチームで取り組んで、ワンチームで楽しむ。そういった価値観に共感していただける方には、日々おもしろさを感じてもらえる環境だと思います。</p>
        <p><i>梁</i>成長を感じられない日など一日もないくらい、機会にあふれています。これから入社する方とも、ぜひ一緒に新しいことに挑戦したいですね。</p>
        <img class="rellax chat04small5" src="/assets/img/chat04small5.webp" alt="" data-rellax-speed="1">
        <img class="rellax chat04small6" src="/assets/img/chat04small6.webp" alt="" data-rellax-speed="0">
        <img class="rellax chat04small7" src="/assets/img/chat04small7.webp" alt="" data-rellax-speed="2">
    </div>
</div>