<ul class="e-about-navi">
    <li class="e-about-navi__item<% if(current==1){ %> current<% } %>">
        <a href="#">
            <i>1</i>
            <span>
                <strong>事業展開</strong>
                <small>Business</small>
            </span>
        </a>
    </li>
    <li class="e-about-navi__item<% if(current==2){ %> current<% } %>">
        <a href="#">
            <i>2</i>
            <span>
                <strong>仕事内容</strong>
                <small>Job</small>
            </span>
        </a>
    </li>
    <li class="e-about-navi__item<% if(current==3){ %> current<% } %>">
        <a href="#">
            <i>3</i>
            <span>
                <strong>業界</strong>
                <small>Industry</small>
            </span>
        </a>
    </li>
</ul>
