<div class="e-copy-passion">
    <div class="e-copy-passion__catch">
        <p class="e-copy-passion__ja"><%- include('../img/copy_ja.svg') -%></p>
        <p class="e-copy-passion__en">
            <span><%- include('../img/copy_live.svg') -%></span>
            <span><%- include('../img/copy_with.svg') -%></span>
            <span><%- include('../img/copy_passion.svg') -%></span>
        </p>
    </div>
    <iframe class="e-copy-passion__icon passion_iframe" src="/passion.html" frameborder="0"></iframe>
</div>