<nav class="global-menu">
    <div class="global-menu__wrap1 js-closest">
        <%- include('e-navigation',pageInfo) -%>
        <a class="global-menu__entry" href="/entry/"><img src="/assets/img/icon_arrow_small.svg" alt="">Entry</a>
    </div>
    <div class="global-menu__wrap2 js-closest">
        <div class="global-menu__catch">
            <%- include('e-copy-passion',{anim:false}) -%>
        </div>
        <a class="global-menu__entry" href="/entry/"><img src="/assets/img/icon_arrow_small.svg" alt="">Entry</a>
    </div>
</nav>