<section class="global-cv">
    <a class="global-cv__button" href="/info/">
        <span>
            <%- include('../img/hd_info.svg') -%>
            <%- include('../img/hd_info_sp.svg') -%>
            <small>募集要項</small>
        </span>
        <i><img src="/assets/img/icon_arrow_middle.svg" alt=""></i>
    </a>
</section>