<footer class="global-footer">
    <h2 class="global-footer__title"><img src="/assets/img/footer_logo.svg" alt="Quacareer Recruit Site"></h2>
    <div class="global-footer__catch">
        <%- include('e-copy-passion',pageInfo) -%>
    </div>
    <%- include('e-navigation',pageInfo) -%>
    <p class="global-footer__copyright">©Quacareer All Rights Reserved.</p>
</footer>
<!-- mouseStalker -->
<div id="g-ms" class="g-ms">
    <div class="g-ms_i"></div>
    <iframe class="g-ms_iframe passion_iframe" src="/passion.html" frameborder="0"></iframe>
</div>