<section class="kv-slider">
    <div class="swiper kv-slider__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide kv1">
                <picture>
                    <source media="(max-width:599px)" srcset="/assets/img/kv1_sp.jpg">
                    <img src="/assets/img/kv1_pc.jpg" alt="">
                </picture>
                <div class="kv-slider__passion"><img class="passion_iframe" src="/assets/img/passion.gif" alt=""></div>
            </div>
            <div class="swiper-slide kv2">
                <picture>
                    <source media="(max-width:599px)" srcset="/assets/img/kv2_sp.jpg">
                    <img src="/assets/img/kv2_pc.jpg" alt="">
                </picture>
                <div class="kv-slider__passion"><img class="passion_iframe" src="/assets/img/passion.gif" alt=""></div>
            </div>
            <div class="swiper-slide kv3">
                <picture>
                    <source media="(max-width:599px)" srcset="/assets/img/kv3_sp.jpg">
                    <img src="/assets/img/kv3_pc.jpg" alt="">
                </picture>
                <div class="kv-slider__passion"><img class="passion_iframe" src="/assets/img/passion.gif" alt=""></div>
            </div>
        </div>
        <!-- <div class="kv-slider__swiper--progress">o1<div class="swiper-pagination"></div>o3</div> -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="kv-slider__copy">
        <dl class="e-copy">
            <dt><%- include('../img/copy_ja.svg') -%></dt>
            <dd><%- include('../img/copy_live.svg') -%></dd>
            <dd><%- include('../img/copy_with.svg') -%></dd>
            <dd><%- include('../img/copy_passion.svg') -%></dd>
        </dl>
    </div>
    <!-- <p class="kv-slider__scroll">Scroll</p> -->
    <span class="e-scrollprompter"><i>Scroll</i><img src="/assets/img/arrow_bottom.svg" alt=""></span>
</section>