<section class="top-statement">
    <div class="top-statement__inner">
        <p>
            あなたは何にやりがいを感じますか？<br>
            どんな人になりたいですか？<br>
            見たい景色はありますか？
        </p>
        <p>
            熱く燃える情熱。くすぶっている情熱。<br>
            まだ情熱と呼べるのか<br>
            わからない感情もあるかもしれません。
        </p>
        <p>
            クオキャリアはあなたの情熱を<br class="sp">
            生かす方法をともに見つけ、<br>
            社会に役立てることができる場所。<br>
            小さくても、<br class="sp">
            心の中に熱を感じているなら、<br>
            私たちと一緒に挑戦してみませんか。
        </p>
        <p>
            その情熱を未来へつなごう。<br>
            そして、想像を超える<br class="sp">
            自分へ会いに行こう。
        </p>
        <%- include('e-copy-passion',pageInfo) -%>
    </div>
</section>