<section class="top-statement">
    <div class="top-statement__inner">
        <p>
            <span class="mask d0">あなたは何にやりがいを感じますか？</span><br>
            <span class="mask d1">どんな人になりたいですか？</span><br>
            <span class="mask d2">見たい景色はありますか？</span>
        </p>
        <p>
            <span class="mask d3">熱く燃える情熱。くすぶっている情熱。</span><br>
            <span class="mask d4">まだ情熱と呼べるのか</span><br>
            <span class="mask d5">わからない感情もあるかもしれません。</span>
        </p>
        <p>
            <span class="mask d6">クオキャリアはあなたの情熱を</span><br class="sp">
            <span class="mask d7">生かす方法をともに見つけ、</span><br>
            <span class="mask d8">社会に役立てることができる場所。</span><br>
            <span class="mask d9">小さくても、</span><br class="sp">
            <span class="mask d10">心の中に熱を感じているなら、</span><br>
            <span class="mask d11">私たちと一緒に挑戦してみませんか。</span>
        </p>
        <p>
            <span class="mask d12">その情熱を未来へつなごう。</span><br>
            <span class="mask d13">そして、想像を超える</span><br class="sp">
            <span class="mask d14">自分へ会いに行こう。</span>
        </p>
        <div>
            <div class="mask d15">
                <%- include('e-copy-passion',{anim:true}) -%>
            </div>
        </div>
    </div>
</section>