<section class="top-index__wapper">
    <a href="" class="top-index">
        <img class="top-index__photo" src="/assets/img/dummy.jpg" alt="">
        <span class="top-index__title">
            <%- include('../img/hd_message.svg') -%>
            <span class="top-index__text">
                <strong>−チーム座談会−</strong>
                チームでの仕事、プロジェクトストーリー、社風など、<br>
                ざっくばらんに語ってもらいました
            </span>
        </span>
        <i class="top-index__arrow">
            <%- include('../img/icon_arrow_middle.svg') -%>
        </i>
    </a>
    <a href="" class="top-index">
        <img class="top-index__photo" src="/assets/img/dummy.jpg" alt="">
        <span class="top-index__title">
            <%- include('../img/hd_about.svg') -%>
            <span class="top-index__text">
                <strong>−チーム座談会−</strong>
                チームでの仕事、プロジェクトストーリー、社風など、<br>
                ざっくばらんに語ってもらいました
            </span>
        </span>
        <i class="top-index__arrow">
            <%- include('../img/icon_arrow_middle.svg') -%>
        </i>
    </a>
</section>