<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>PASSION</title>
<style>
    *{margin: 0;padding: 0;}
    svg{ width: 100%; }
    html,body{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    ::-webkit-scrollbar{ display:none; }
</style>
</head>
<body>
    <%- include('assets/img/passion.svg') -%>
</body>
</html>