@use "setting";

.b-chat-section{
    color: var(--c-bg);
    line-height: 1.8;
    text-align: justify;
    width: calc(100% - 30px);
    max-width: 1024px;
    margin: auto;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    @media #{setting.$bp-s-min}{
        width: calc(100% - 60px);
        padding-left: 40px;
        gap: 160px;
    }
    // @media #{$bp-l-min}{
    //     gap: 126px;
    // }
    >div{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 60px;
        @media #{setting.$bp-s-min}{
            gap: 120px;
        }
        // @media #{$bp-l-min}{
        //     gap: 80px;
        // }
        &:nth-child(odd){ align-items: flex-end; }
        &:nth-child(even){ align-items: flex-start; }
        >p{
            width: 72.3%;
            max-width: 513px;
            i{
                display: inline-block;
                background-color: var(--c-primary);
                line-height: 1;
                padding: .25em .5em .5em;
                margin-right: 0.5em;
                border-radius: 6px;
            }
        }
        >img{
            backface-visibility: hidden;
            border-radius: 13px;
            box-shadow: 0 0 10px rgba(#000,.5);
            position: relative;
            z-index: -10;
            @media #{setting.$bp-s-min}{
                border-radius: 33px;
            }
            &.chat01small1{width: 220px;left: -90px;}
            &.chat01small2{width: 189px;left: 90px;}
            &.chat01small3{width: 162px;left: 160px;margin-top: -40px;}
            &.chat01small4{width: 162px;left: -150px;}
            &.chat01small5{width: 212px;left: -50px;}
            &.chat01small6{width: 238px;left: 80px;}
            &.chat02small1{width: 252px;left: -70px;}
            &.chat02small2{width: 171px;left: -20px;margin-top: -40px;}
            &.chat02small3{width: 238px;left: 80px;}
            &.chat02small4{width: 162px;left: -150px;}
            &.chat02small5{width: 211px;left: -70px;}
            &.chat03small1{width: 228px;left: -90px;}
            &.chat03small2{width: 189px;left: 90px;}
            &.chat03small3{width: 162px;left: 160px;margin-top: -40px;}
            &.chat03small4{width: 162px;left: -150px;}
            &.chat03small5{width: 211px;left: -50px;margin-top: -40px;}
            &.chat03small6{width: 162px;}
            &.chat04small1{width: 252px;left: -70px;}
            &.chat04small2{width: 238px;left: 50px;}
            &.chat04small3{width: 162px;left: -150px;}
            &.chat04small4{width: 211px;left: -50px;}
            &.chat04small5{width: 225px;left: 50px;}
            &.chat04small6{width: 171px;left: 150px;}
            &.chat04small7{width: 157px;left: 20px;margin-top: -80px;}
            @media(max-width:350px){
                scale: .6;
            }
            @media #{setting.$bp-s-max}{
                // &.chat01small1{translate: 0 -200px;}
                // &.chat01small2{translate: 0 -10px;}
                // &.chat01small3{translate: 0 -10px;}
                // &.chat01small4{translate: 0 -10px;}
                // &.chat01small5{translate: 0 -10px;}
                // &.chat01small6{translate: 0 -10px;}
                &.chat02small1{translate: 0 -200px;}
                &.chat02small2{translate: 0 -200px;}
                &.chat02small3{translate: 0 50px;}
                // &.chat02small4{translate: 0 -10px;}
                // &.chat02small5{translate: 0 -10px;}
                &.chat03small1{translate: 0 -200px;}
                // &.chat03small2{translate: 0 -10px;}
                // &.chat03small3{translate: 0 -10px;}
                // &.chat03small4{translate: 0 -10px;}
                // &.chat03small5{translate: 0 -10px;}
                // &.chat03small6{translate: 0 -10px;}
                // &.chat04small1{translate: 0 -10px;}
                &.chat04small2{translate: 0 100px;}
                &.chat04small3{translate: 0 -100px;}
                &.chat04small4{translate: 0 -130px;}
                // &.chat04small5{translate: 0 -10px;}
                // &.chat04small6{translate: 0 -10px;}
                // &.chat04small7{translate: 0 -10px;}
            }
            @media #{setting.$bp-s-min}{
                &.chat01small1{width: 568px;}
                &.chat01small2{width: 378px;}
                &.chat01small3{width: 324px;}
                &.chat01small4{width: 324px;}
                &.chat01small5{width: 423px;}
                &.chat01small6{width: 477px;}
                &.chat02small1{width: 504px;}
                &.chat02small2{width: 342px;}
                &.chat02small3{width: 477px;}
                &.chat02small4{width: 324px;}
                &.chat02small5{width: 423px;}
                &.chat03small1{width: 568px;}
                &.chat03small2{width: 378px;}
                &.chat03small3{width: 324px;}
                &.chat03small4{width: 324px;}
                &.chat03small5{width: 423px;}
                &.chat03small6{width: 324px;}
                &.chat04small1{width: 504px;}
                &.chat04small2{width: 477px;}
                &.chat04small3{width: 324px;}
                &.chat04small4{width: 423px;}
                &.chat04small5{width: 450px;}
                &.chat04small6{width: 342px;}
                &.chat04small7{width: 315px;}
            }
            @media #{setting.$bp-l-min}{
                position: absolute;
                max-width: 45%;
                &.chat01small1{left: 0;top: -40px;}
                &.chat01small2{left: auto;right: 40px;top: -120px;}
                &.chat01small3{left: auto;right: 0;bottom: -120px;}
                &.chat01small4{left: 0;top: -120px;}
                &.chat01small5{left: 40px;bottom: -120px;}
                &.chat01small6{left: auto;right: 0;bottom: -40px;}
                &.chat02small1{left: 0;top: -40px;}
                &.chat02small2{left: 100px;bottom: 120px;}
                &.chat02small3{left: auto;right: 20px;top: 140px;}
                &.chat02small4{left: 0;top: -120px;}
                &.chat02small5{left: 50px;bottom: -120px;}
                &.chat03small1{left: 0;}
                &.chat03small2{left: auto;right: 50px;top: -120px;}
                &.chat03small3{left: auto;right: 0;bottom: -120px;}
                &.chat03small4{left: 0;top: -40px;}
                &.chat03small5{left: 60px;top: 100px;}
                &.chat03small6{left: auto;right: 0;bottom: -500px;}
                &.chat04small1{left: 0;top: -40px;}
                &.chat04small2{left: auto;right: 0;top: 140px;}
                &.chat04small3{left: 0;top: -120px;}
                &.chat04small4{left: 30px;bottom: 120px;}
                &.chat04small5{left: auto;right: 0;top: -40px;}
                &.chat04small6{left: auto;right: 0;bottom: -40px;}
                &.chat04small7{left: auto;right: 140px;bottom: -400px;}
            }
        }
    }
}