@use "setting";

.b-day{
    &-fv{
        position: relative;
        z-index: 0;
        clip-path: inset(0 0 0 0);
        &__view{
            min-height: 100svh;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 28px 20px;
            @media #{setting.$bp-s-min}{
                padding: 48px 60px;
            }
            &.first{
                justify-content: flex-end;
            }
            &.second{
                justify-content: center;
                align-items: center;
            }
        }
        &__title{
            font-family: var(--f-serif);
            font-weight: 600;
            color: var(--c-primary);
            white-space: nowrap;
            font-size: clamp(10px,9vw,36px);
            line-height: 1.2;
            @media #{setting.$bp-s-min}{
                font-size: 45px;
            }
            @media #{setting.$bp-l-min}{
                font-size: 60px;
            }
        }
        &__name{
            margin-top: 25px;
            font-size: 12px;
            line-height: 1.5;
            color: var(--c-bg);
            @media #{setting.$bp-s-min}{
                font-size: 20px;
            }
            dt{
                font-family: var(--f-serif);
                font-weight: 600;
                font-size: 18px;
                @media #{setting.$bp-s-min}{
                    font-size: 30px;
                }
                small{
                    font-size: 12px;
                    letter-spacing: 0;
                    @media #{setting.$bp-s-min}{
                        font-size: 20px;
                    }
                }
            }
        }
        &__prof{
            color: var(--c-bg);
            max-width: 745px;
            dt{
                font-family: var(--f-serif);
                // font-weight: 600;
                font-size: 30px;
                letter-spacing: 0;
                margin-bottom: 24px;
                @media #{setting.$bp-s-min}{
                    font-size: 34px;
                }
            }
            dd{
                font-size: 16px;
                line-height: 1.87;
                text-align: justify;
                @media #{setting.$bp-s-min}{
                    font-size: 18px;
                }
            }
        }
        &__blur{
            // opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100lvh;
            z-index: -1;
            // background-color: #c6c7c7;
            // mix-blend-mode: multiply;
            // -webkit-backdrop-filter: blur(10px);
            // backdrop-filter: blur(10px);
        }
        >svg{
            fill: #fff;
            mix-blend-mode: soft-light;
            position: fixed;
            bottom: -5px;
            right: -5px;
            z-index: -2;
            width: 307px;
            @media #{setting.$bp-s-min}{
                width: 400px;
            }
            @media #{setting.$bp-l-min}{
                width: 658px;
            }
        }
        &__bg{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100lvh;
            object-fit: cover;
            z-index: -3;
        }
    }
    &-sch{
        display: flex;
        margin: auto;
        line-height: 1.4;
        @media #{setting.$bp-s-min}{
            width: 100%;
        }
        &__title{
            font-family: var(--f-serif);
            // width: calc(100% - 40px);
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0 auto 48px;
            @media #{setting.$bp-s-min}{
                width: 100%;
                margin: 0 auto 160px;
            }
            small{
                font-size: 15px;
                letter-spacing: 0;
                @media #{setting.$bp-s-min}{font-size: 25px;}
            }
            span{
                color: var(--c-primary);
                font-size: 30px;
                @media #{setting.$bp-s-min}{font-size: 60px;white-space: nowrap;}
            }
        }
        &__line{
            width: 20px;
            position: relative;
            @media #{setting.$bp-l-min}{
                width: 30px;
            }
            i{
                position: absolute;
                top: 9px;
                left: 0;
                width: 9px;
                aspect-ratio: 1/1;
                background-color: var(--c-primary);
                border-radius: 100px;
                transition: scale .3s ease-in;
                scale: 0;
                .inviewed &{scale: 1;}
                @media #{setting.$bp-l-min}{
                    top: 15px;
                    width: 13px;
                }
            }
            span{
                display: block;
                position: absolute;
                top: calc(9px + 9px);
                left: 4px;
                width: 1px;
                height: calc(100% - 9px);
                @media #{setting.$bp-l-min}{
                    top: calc(15px + 13px);
                    left: 6px;
                }
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    background-color: #fff;
                    transition: height 1s ease-in;
                    .inviewed &{height: 100%;}
                }
            }
        }
        &__time{
            font-family: var(--f-serif);
            font-size: 18px;
            letter-spacing: 0;
            width: 70px;
            transition: opacity .4s ease;
            opacity: 0;
            .inviewed &{opacity: 1;}
            @media #{setting.$bp-l-min}{
                font-size: 30px;
                width: 150px;
            }
        }
        &__text{
            flex: 1;
            h3{
                font-family: var(--f-serif);
                font-size: 18px;
                color: var(--c-primary);
                margin-bottom: 1em;
                @media #{setting.$bp-s-min}{
                    font-size: 22px;
                    translate: 0 -.1em;
                }
                @media #{setting.$bp-l-min}{
                    font-size: 28px;
                    margin-bottom: 40px;
                    translate: 0 0;
                    br{display: none;}
                }
                &:last-child{margin-bottom: 40px;}
            }
            p{
                font-size: 14px;
                margin-bottom: 40px;
                text-align: justify;
                line-height: 1.6;
                @media #{setting.$bp-s-min}{
                    font-size: 16px;
                }
                @media #{setting.$bp-l-min}{
                    font-size: 18px;
                    &:last-child{margin-bottom: 144px;}
                }
                &.b{@include setting.fw(600);}
            }
            .img{
                width: auto;
                // max-width: var(--vw);
                margin-left: -110px;
                margin-right: -20px;
                margin-bottom: 40px;
                position: relative;
                z-index: 1;
                @media #{setting.$bp-s-min}{
                    margin-right: -30px;
                }
                @media #{setting.$bp-l-min}{
                    margin-left: -220px;
                }
                @media(min-width:1196px){
                    margin-right: calc(-1 * (var(--vw) - 1196px) / 2 );
                }
            }
        }
    }
    &-prof{
        position: sticky;
        bottom: 0;
        z-index: 9;
        width: var(--vw);
        margin-left: -20px;
        overflow: hidden;
        @media #{setting.$bp-s-min}{
            top: 180px;
            bottom: auto;
            width: 92%;
            max-width: 269px;
            margin-left: 0;
        }
        @media #{setting.$bp-s-min}{
            margin-bottom: 40px;
        }
        @media #{setting.$bp-l-min}{
            margin-bottom: 144px;
        }
        &__flex{
            position: relative;
            display: flex;
            background-color: #fff;
            transition: translate .4s;
            @media #{setting.$bp-s-max}{
                translate: 100% 0;
                .view-prof &{translate: 0% 0;}
            }
            @media #{setting.$bp-s-min}{
                flex-direction: column;
                background-color: transparent;
                gap: 15px;
            }
            >svg{
                width: 12px;
                position: absolute;
                top: 50%;
                left: 0;
                translate: 100% -50%;
                @media #{setting.$bp-s-min}{
                    display: none;
                }
            }
        }
        &__title{
            position: absolute;
            top: 10px;
            right: 10px;
            writing-mode: vertical-lr;
            font-family: var(--f-serif);
            letter-spacing: 0;
            @media #{setting.$bp-s-min}{
                position: static;
                writing-mode: unset;
            }
            @media #{setting.$bp-l-min}{
                font-size: 25px;
            }
        }
        &__photo{
            width: 50%;
            max-width: 376px;
            @media #{setting.$bp-s-min}{
                width: 100%;
            }
        }
        &__name{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 13px 17px;
            font-size: 12px;
            letter-spacing: 0;
            @media #{setting.$bp-s-min}{
                padding: 0;
            }
            @media #{setting.$bp-l-min}{
                font-size: 16px;
            }
            dt{
                display: flex;
                flex-direction: column;
                font-size: 15px;
                margin-bottom: 5px;
                @media #{setting.$bp-l-min}{
                    flex-direction: row;
                    align-items: baseline;
                    gap: 10px;
                    font-size: 20px;
                }
                small{
                    font-size: 10px;
                    @media #{setting.$bp-l-min}{
                        font-size: 12px;
                    }
                }
            }
        }
        &__btn{
            cursor: pointer;
            width: 86px;
            height: 86px;
            position: absolute;
            bottom: 5px;
            right: 5px;
            .view-prof &{display: none;}
            @media #{setting.$bp-s-min}{display: none;}
            img{
                width: 57px;
                height: 57px;
                object-fit: cover;
                border: 1px solid #231815;
                border-radius: 200px;
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
            }
            svg{
                pointer-events: none;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                // mix-blend-mode: difference;
                animation: ring 10s linear infinite;
            }
        }
    }
    &-slider{
        overflow: hidden;
        &__wrapper{
            display: flex;
            width: calc( var(--vw) * 0.65 * 8 );
            // animation: slider 30s linear infinite;
            overflow: hidden;
            position: relative;
            @media #{setting.$bp-s-min}{
                // animation: slider 40s linear infinite;
                width: calc( var(--vw) * 0.55 * 8 );
            }
        }
        &__list{
            display: flex;
            position: relative;
            li{
                width: calc( var(--vw) * 0.65 );
                @media #{setting.$bp-s-min}{
                    width: calc( var(--vw) * 0.55 );
                }
                img{backface-visibility: hidden;}
            }
        }
    }
    &-txslider{
        overflow: hidden;
        background-color: var(--c-primary);
        padding: calc( var(--vw) * 0.02 ) 0;
        &__wrapper{
            display: flex;
            position: relative;
            width: calc( var(--vw) * 1.1 * 2 );
            // animation: slider 10s linear infinite;
            background-color: var(--c-primary);
        }
        svg{
            width: calc( var(--vw) * 1.1 );
            margin-right:  calc( var(--vw) * 0.1 );
            fill: rgba(#fff, .5);
            mix-blend-mode: overlay;
            backface-visibility: hidden;
        }
    }
    &-ors{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        @media #{setting.$bp-s-min}{
            position: relative;
            flex-direction: row;
        }
        &__text{
            padding: 20px 20px 35px;
            @media #{setting.$bp-s-min}{
                width: 50%;
                padding-bottom: 80px;
            }
            @media #{setting.$bp-l-min}{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5%;
            }
            h2{
                position: relative;
                margin-bottom: 26px;
                .heart{
                    -webkit-perspective: 200px;
                    perspective: 200px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 8%;
                    width: 25%;
                    translate: 0 -50%;
                    @media #{setting.$bp-l-min}{
                        width: 30%;
                        right: 5%;
                        translate: 0 -60%;
                    }
                }
            }
            &.inviewed h2 .heart img{
                animation: spin_small 3s ease-out;
                @media #{setting.$bp-s-min}{
                    animation: spin 3s ease-out;
                }
            }
            p{
                font-size: 14px;
                line-height: 1.7;
                text-align: justify;
                @media #{setting.$bp-l-min}{
                    font-size: 20px;
                }
            }
            @media #{setting.$bp-l-min}{
                h2,p{
                    width: 460px;
                    margin: 0 auto;
                }
            }
        }
        &__slider{
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media #{setting.$bp-s-min}{
                width: 50%;
            }
        }
        &__page{
            padding: 34px 20px;
            @media #{setting.$bp-s-min}{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50%;
            }
            @media #{setting.$bp-l-min}{
                bottom: 5%;
            }
            .swiper-pagination{
                position: relative;
                font-feature-settings: "onum";
                display: flex;
                gap: 10px;
                @media #{setting.$bp-l-min}{
                    width: 460px;
                    margin: auto;
                }
            }
            .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0;
            }
            .swiper-pagination-bullet{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: auto;
                background-color: transparent;
                line-height: 1;
                font-family: var(--f-serif);
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0;
                display: flex;
                align-items: center;
                gap: 8px;
                &.swiper-pagination-bullet-active{opacity: 1;}
            }
            .pagination_bar{
                // width: 100%;
                flex: 1;
                height: 2px;
                background-color: rgba(#808080,.8);
                position: relative;
                mix-blend-mode: multiply;
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    background-color: var(--c-primary);
                }
            }
            .swiper-pagination-bullet.swiper-pagination-bullet-active .pagination_bar::after{
                animation: pagination_bar 3.5s linear forwards;
            }
        }
    }
    &-other{
        padding-top: 35px;
        @media #{setting.$bp-s-min}{
            padding-top: 80px;
        }
        @media #{setting.$bp-l-min}{
            padding-top: 160px;
        }
        &__title{
            width: calc(100% - 40px);
            max-width: 1146px;
            margin: auto;
            color: var(--c-primary);
            font-family: var(--f-serif);
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 30px;
            @media #{setting.$bp-s-min}{
                font-size: 60px;
                margin-bottom: 60px;
            }
            @media #{setting.$bp-l-min}{
                font-size: 90px;
                margin-bottom: 90px;
            }
        }
        &__list{
            width: calc(100% - 40px);
            max-width: 1146px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media #{setting.$bp-s-min}{
                flex-direction: row;
                gap: 30px;
            }
            @media #{setting.$bp-l-min}{
                gap: 50px;
            }
            li{flex: 1;}
        }
        &__item{
            display: block;
            position: relative;
            z-index: 0;
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(159,160,160,1) 0%, rgba(159,160,160,1) 15%, rgba(159,160,160,0) 100%);
                mix-blend-mode: multiply;
                @media #{setting.$bp-s-min}{
                    height: 50%;
                }
            }
            &--text{
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                color: var(--c-bg);
                padding: 12px;
                @media #{setting.$bp-s-min}{
                    padding: 30px;
                }
                @media #{setting.$bp-l-min}{
                    padding: 40px;
                }
                h2{
                    color: var(--c-primary);
                    font-family: var(--f-serif);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 1.3;
                    @media #{setting.$bp-s-min}{font-size: 3vw;}
                    @media #{setting.$bp-l-min}{font-size: 40px;}
                }
                p{
                    font-family: var(--f-serif);
                    font-size: 16px;
                    letter-spacing: 0;
                    margin: .5em 0 .25em;
                    @media #{setting.$bp-s-min}{font-size: 20px;}
                    @media #{setting.$bp-l-min}{font-size: 24px;}
                    small{
                        font-size: 10px;
                        display: inline-block;
                        margin-left: 0.5em;
                        @media #{setting.$bp-l-min}{font-size: 13px;}
                    }
                }
                ul{
                    font-size: 12px;
                    @media #{setting.$bp-s-min}{font-size: 14px;}
                    @media #{setting.$bp-l-min}{font-size: 16px;}
                }
            }
            svg{
                width: 26px;
                position: absolute;
                z-index: 1;
                bottom: 12px;
                right: 12px;
                fill: var(--c-primary);
                @media #{setting.$bp-s-min}{
                    width: 40px;
                    bottom: 20px;
                    right: 20px;
                }
                @media #{setting.$bp-l-min}{
                    width: 60px;
                    bottom: 45px;
                    right: 45px;
                }
            }    
        }
        &__back{
            width: calc(100% - 40px);
            margin: auto;
            margin-top: 24px;
            max-width: 1146px;
            font-family: var(--f-serif);
            font-size: 18px;
            letter-spacing: 0;
            @media #{setting.$bp-s-min}{
                font-size: 30px;
                margin-top: 60px;
            }
            a{
                display: flex;
                width: fit-content;
                align-items: center;
            }
            i{
                display: block;
                width: 26px;
                margin-right: 15px;
                @media #{setting.$bp-s-min}{
                    width: 60px;
                }
                svg{rotate: y 180deg;}
            }
        }
    }
}
@keyframes slider{
    0%{translate: 0 0;}
    100%{translate: -50% 0;}
}
@keyframes ring{
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
}
@keyframes spin{
    0%{transform: rotateY(0deg);}
    // 100%{rotate:y 2880deg;}
    100%{transform: rotateY(2880deg);}
}
@keyframes spin_small{
    0%{transform: rotateY(-360deg);}
    // 100%{rotate:y 2880deg;}
    100%{transform: rotateY(360deg);}
}