@use "setting";

.b-flow{
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    max-width: 1046px;
    margin: auto;
    gap: 10px;
    padding: 10px;
    background-color: var(--c-bg);
    transition: opacity .6s linear;
    opacity: 0;
    &.inviewed{opacity: 1;}
    @media #{setting.$bp-s-min}{
        flex-direction: row;
        align-items: center;
        gap: 75px;
    }
    &+&{
        margin-top: 40px;
        .b-flow__head::after{
            content: "";
            display: block;
            width: 2px;
            height: 40px;
            background-color: var(--c-primary);
            position: absolute;
            top: -10px;
            left: 50%;
            translate: -50% -100%;
        }
    }
    &__wrapper{
        counter-reset: flow;
    }
    &__head{
        width: 100%;
        background-color: var(--c-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--c-bg);
        font-size: 16px;
        @include setting.fw(500);
        line-height: 1;
        padding: 14px 0;
        letter-spacing: 0.25em;
        position: relative;
        @media #{setting.$bp-s-min}{
            width: 257px;
            font-size: 22px;
            padding: 30px 0;
            &.oubo{
                height: 132px;
            }
        }
        &::before{
            counter-increment: flow;
            content: counter(flow, decimal-leading-zero);
            letter-spacing: 0;
            font-family: var(--f-serif);
            font-size: 18px;
            font-weight: 600;
            position: absolute;
            top: 5px;
            left: 10px;
            @media #{setting.$bp-s-min}{
                font-size: 20px;
                top: 10px;
                left: 15px;
            }
        }
    }
    &__body{
        flex: 1;
        @include setting.fw(600);
        @media #{setting.$bp-s-max}{
            padding: 10px 15px;
        }
        small{
            display: block;
            font-size: 12px;
            line-height: 2;
            margin-top: 0.5em;
            @include setting.fw(400);
        }
        a{
            font-family: var(--f-serif);
            font-weight: 700;
            font-size: 1.1em;
        }
    }
}
.b-flow-small{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 704px;
    margin: auto;
    gap: 12px;
    padding: 15px 12px;
    padding-left: 0;
    background-color: var(--c-primary);
    position: relative;
    z-index: 0;
    @media #{setting.$bp-l-min}{
        padding: 15px;
        gap: 26px;
    }
    &+&{
        margin-top: 30px;
        @media #{setting.$bp-l-min}{margin-top: 60px;}
        &::before{
            content: "";
            display: block;
            width: 2px;
            height: 30px;
            background-color: var(--c-primary);
            position: absolute;
            top: 0px;
            left: 76px;
            translate: 0 -100%;
            @media #{setting.$bp-l-min}{height: 60px;}
        }
    }
    strong{
        font-family: var(--f-sans);
        background-color: var(--c-bg);
        color: var(--c-primary);
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include setting.fw(600);
        clip-path: polygon(5px 0%, calc(100% - 5px) 0%, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 0% calc(100% - 5px), 0% 5px);
        @media #{setting.$bp-l-min}{
            width: 138px;
            height: 40px;
        }
    }
    &__head{
        width: 146px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--c-bg);
        font-family: var(--f-serif);
        font-weight: 600;
        font-size: 15px;
        line-height: 1;
        letter-spacing: 0.07em;
        border-right: 1px solid var(--c-bg);
        padding: 0 12px;
        gap: 10px;
        @media #{setting.$bp-s-min}{font-size: 16px;width: 158px;}
        @media #{setting.$bp-l-min}{
            height: 60px;
            strong{display: none;}
        }
    }
    &__body{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        line-height: 1.4;
        span{
            color: var(--c-bg);
        }
        @media #{setting.$bp-l-max}{
            strong{display: none;}
        }
        @media #{setting.$bp-s-min}{font-size: 16px;}
        @media #{setting.$bp-l-min}{
            line-height: 1;
            gap: 25px;
            font-size: 16px;
        }
    }
}