@use "setting";

.b-job-block{
    // display: flex;
    position: relative;
    width: 100%;
    font-size: 12px;
    padding: 17px;
    padding-top: 47px;
    margin: 48px auto 0;
    background-color: var(--c-bg);
    @media #{setting.$bp-s-min}{
        font-size: 15px;
        padding: 52px 28px 25px;
        margin: 70px auto 0;
    }
    @media #{setting.$bp-l-min}{
        display: flex;
        padding-right: 0;
    }
    &__info{
        flex: 1;
    }
    &__title{
        font-size: 16px;
        letter-spacing: 0.08em;
        line-height: 1;
        background-color: var(--c-primary);
        color: var(--c-bg);
        @include setting.fw(600);
        width: 163px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;right: 0;
        margin: auto;
        translate: 0 -50%;
        @media #{setting.$bp-s-min}{
            font-size: 22px;
            width: 230px;
            height: 54px;
        }
        @media #{setting.$bp-l-min}{
            left: 28px;
            right: auto;
        }
    }
    &__text{
        font-size: 14px;
        padding-bottom: 25px;
        border-bottom: 1px solid #000;
        margin-bottom: 16px;
        @media #{setting.$bp-s-min}{font-size: 15px;}
    }
    &__ex{
        display: flex;
        align-items: center;
        gap: 10px;
        dt{
            @include setting.fw(700);
            background-color: var(--c-primary);
            color: var(--c-bg);
            padding: 6px 8px;
            flex-shrink: 0;
        }
    }
    &__image{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{setting.$bp-l-max}{
            padding: 1px;
            margin: 25px 0;
            &.sp-img{}
            &.pc-img{display: none;}
        }
        @media #{setting.$bp-l-min}{
            width: 242px;
            &.sp-img{display: none;}
            &.pc-img{}
        }
        img{
            width: 125px;
        }
    }
    &__rewarding{
        background-color: #e8e7e6;
        padding: 12px 12px 20px;
        display: flex;
        flex-direction: column;
        @media #{setting.$bp-s-min}{
            padding: 14px 14px 20px;
        }
        @media #{setting.$bp-l-min}{margin-top: 18px;}
        dt{
            @include setting.fw(700);
            background-color: var(--c-primary);
            color: var(--c-bg);
            text-align: center;
            padding: 8px 0;
            margin-bottom: 12px;
            @media #{setting.$bp-s-min}{
                margin-bottom: 14px;
            }
        }
        dd{
            margin-top: 6px;
            padding-left: 1em;
            text-indent: -1em;
            &::before{
                content: "・";
                font-feature-settings: normal;
                letter-spacing: 0;
                text-indent: 0;
            }
        }
    }
}
.b-job-block-other{
    position: relative;
    width: 100%;
    // max-width: 704px;
    margin: 34px auto 0;
    padding: 26px;
    font-size: 12px;
    line-height: 1.8;
    text-align: justify;
    background-color: #d9dada;
    clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
    @media #{setting.$bp-s-min}{
        padding: 50px;
        font-size: 15px;
        margin: 80px auto 0;
    }
    &__title{
        font-size: 18px;
        line-height: 1.4;
        color: var(--c-primary);
        @include setting.fw(700);
        margin-bottom: 18px;
        @media #{setting.$bp-s-min}{
            font-size: 23px;
            line-height: 1;
            margin-bottom: 30px;
        }
    }
}