.e-about-navi{
    display: flex;
    padding-top: 20px;
    gap: 20px;
    @media #{$bp-s-min}{
        padding-top: 0;
        flex-direction: column;
        gap: 35px;
        width: 170px;
    }
    @media #{$bp-l-min}{width: 244px;}
    &__item{
        font-family: var(--f-serif);
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0;
        a{
            position: relative;
            display: flex;
            gap: 3px;
            padding-bottom: 30px;
            @media #{$bp-s-min}{gap: 8px;padding-bottom: 0;padding-right: 30px;}
            @media #{$bp-l-min}{padding-right: 70px;}
            span{
                display: flex;
                flex-direction: column;
                gap: 6px;
            }
            strong{
                font-size: 22px;
                @media #{$bp-s-min}{font-size: 28px;}
            }
            small{
                font-size: 11px;
                @media #{$bp-s-min}{font-size: 12px;}
            }
            &::after{
                content: "";
                display: block;
                background-color: currentColor;
                position: absolute;
                height: 0px;
                width: 1px;
                right: 50%;
                bottom: 0;
                @media #{$bp-s-min}{
                    height: 2px;
                    width: 0px;
                    right: 0;
                    top: 30%;
                    bottom: auto;
                    transition: width .4s;    
                }
            }
        }
        &.current{
            pointer-events: none;
            color: var(--c-bg);
        }
        &.current a,
        a:hover{
            &::after{
                height: 20px;
                @media #{$bp-s-min}{height: 2px;width: 20px;}
                @media #{$bp-l-min}{width: 70px;}
            }
        }
    }
}