@use "setting";

.e-card{
    display: block;
    &__image{
        min-width: 0;
        width: 100%;
        aspect-ratio: 274 / 190;
        object-fit: cover;
        margin-bottom: 18px;
        @media #{setting.$bp-s-min}{
            margin-bottom: 24px;
        }
    }
    &__title{
        font-size: 14px;
        line-height: 1;
        @include setting.fw(700);
        color: var(--c-primary);
        margin-bottom: 16px;
        @media #{setting.$bp-s-min}{
            font-size: 16.5px;
            margin-bottom: 20px;
        }
        small{
            display: block;
            font-size: 9.6px;
            @include setting.fw(500);
            color: var(--c-text);
            margin-bottom: 5px;
            @media #{setting.$bp-s-min}{
                font-size: 11px;
                margin-bottom: 8px;
            }
        }
    }
    &__text{
        font-size: 11px;
        text-align: justify;
        @media #{setting.$bp-s-min}{
            font-size: 14px;
        }
    }
}
.e-card-wrap{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
    width: 235px;
    @media #{setting.$bp-s-min}{
        flex-direction: row;
        width: auto;
        max-width: 596px;
    }
    @media #{setting.$bp-l-min}{gap: 48px;}
    .e-card{flex: 1;}
}