@use "setting";

.e-copy{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    dt svg{
        height: 19px;
        @media #{setting.$bp-s-min}{height: 40px;}
    }
    dd svg{
        height: 54px;
        @media #{setting.$bp-s-min}{height: 122px;}
    }
    .kv-slider__copy &{
        gap: 9px;
        @media #{setting.$bp-s-min}{gap: 4px;}
        svg{ fill: var(--c-primary); }
        dt svg{
            height: 20px;
            @media #{setting.$bp-s-min}{height: 25px;}
        }
        dd svg{
            height: 58px;
            @media #{setting.$bp-s-min}{height: 76px;}
        }
    }
}
.e-copy-passion{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    svg{
        .global-footer &{fill: var(--c-primary);}
        vertical-align: baseline;
    }
    .global-menu &{
        svg{fill: var(--c-text);}
    }
    &__catch{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 225px;
        @media #{setting.$bp-s-max}{
            svg{
                width: auto;
                height: 100%;
            }
        }
        @media #{setting.$bp-s-min}{
            width: 85%;
        }
    }
    &__ja{
        @media #{setting.$bp-s-max}{
            height: 19px;
        }
        @media #{setting.$bp-s-min}{
            width: 20%;
        }
    }
    &__en{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        gap: 6px;
        @media #{setting.$bp-s-min}{
            flex-direction: row;
            padding-top: 1%;
            gap: 2%;
        }
        span{
            @media #{setting.$bp-s-max}{
                height: 39px;
            }
            @media #{setting.$bp-s-min}{
                &:nth-child(1){flex: 175.5576;}
                &:nth-child(2){flex: 214.8506;}
                &:nth-child(3){flex: 325.4355;}
            }
        }
    }
    &__icon{
        width: 64px;
        @media #{setting.$bp-s-min}{
            width: 14.5%;
        }
        .global-menu &{
            display: none;
        }
    }
}