.e-heading{
    &__info{
        width: calc(100% - 40px);
        max-width: 1046px;
        margin: 0 auto 70px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: var(--f-serif);
        font-weight: 600;
        color: var(--c-primary);
        line-height: 1;
        font-size: 36px;
        letter-spacing: -.05em;
        @media #{$bp-s-min}{
            font-size: 60px;
        }
        transition: clip-path .6s ease-out;
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
        &.inviewed{clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
        small{
            font-size: 18px;
            letter-spacing: 0;
            @media #{$bp-s-min}{font-size: 20px;}
        }
    }
    &__about{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        overflow: hidden;
        height: 281px;
        @media #{$bp-s-min}{
            height: 457px;
        }
        img{
            position: absolute;
            top: 0;left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            backface-visibility: hidden;
            transition: transform .1s linear;
        }
        &--text{
            width: calc(100% - 80px);
            max-width: 1100px;
            font-family: var(--f-serif);
            font-weight: 600;
            color: var(--c-primary);
            line-height: 1;
            display: flex;
            flex-direction: column;
            font-size: 40px;
            letter-spacing: -.05em;
            transition: clip-path .6s ease-out;
            clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
            &.inviewed{clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
            @media #{$bp-s-min}{
                font-size: 60px;
            }
            i{
                font-size: 16px;
                @media #{$bp-s-min}{font-size: 20px;}
            }
            small{
                font-size: 16px;
                @media #{$bp-s-min}{font-size: 20px;}
                letter-spacing: 0;
                margin-top: 0.5em;
            }
        }
    }
}