@use "setting";

.e-pagetitle{
    color: var(--c-primary);
    fill: var(--c-primary);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;
    @media #{setting.$bp-s-min}{
        gap: 16px;
    }
    &.center{
        align-items: center;
    }
    small{
        transition: clip-path .2s ease-out;
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
        font-family: var(--f-serif);
        font-size: 20px;
        font-weight: 600;
        @media #{setting.$bp-s-min}{
            font-size: 26px;
        }
        .wf-active &{clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
    }
    svg{
        transition: clip-path .2s ease-out .1s;
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
        fill: var(--c-primary);
        height: 44.5px;
        @media #{setting.$bp-s-min}{
            height: 71px;
        }
        .wf-active &{clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
    }
    &__wrapper{
        width: calc(100% - 40px);
        max-width: 1160px;
        margin: 130px auto 65px;
        @media #{setting.$bp-s-min}{
            margin: 200px auto 170px;
        }
    }
}