@use "setting";

.global-footer{
    margin-top: 38px;
    padding-bottom: 38px;
    @media #{setting.$bp-s-min}{
        margin-top: 150px;
        padding-bottom: 45px;    
    }
    &__title{
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 30px;
        @media #{setting.$bp-s-min}{
            gap: 40px;
            margin-bottom: 36px;
        }
        img{
            width: 164px;
        }
        &::before,&::after{
            content: "";
            display: block;
            height: 1px;
            flex: 1;
            background-color: var(--c-text);
        }
    }
    &__catch{
        max-width: 910px;
        margin: auto;
        width: calc(100% - 80px);
        @media (max-width:370px){width: calc(100% - 40px);}
        .e-copy-passion__catch{fill: var(--c-primary);}
    }
    .e-navigation{
        margin-top: 49px;
        @media #{setting.$bp-s-min}{
            margin-top: 116px;
        }
    }
    &__copyright{
        margin-top: 74px;
        font-size: 10px;
        letter-spacing: 0.04em;
        text-align: center;
        // font-family: var(--f-serif);
        @media #{setting.$bp-s-min}{
            margin-top: 224px;
        }
    }
}
