@use "setting";

.global-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: background-color 1s;
    .header-bg &{
        background-color: var(--c-primary);
    }
    @media #{setting.$bp-s-max}{
        .is-header-observe &{background-color: var(--c-document);}
    }
    @media #{setting.$bp-s-min}{
        height: 60px;
        padding: 0 30px;
    }
    &__logo{
        width: 154px;
        @media #{setting.$bp-s-min}{
            width: 193px;
        }
    }
    &__navi{
        display: flex;
        align-items: center;
        gap: 15px;
        font-family: var(--f-serif);
        font-size: 15px;
        letter-spacing: -.05em;
        @media #{setting.$bp-s-min}{
            gap: 18px;
            font-size: 22px;
        }
        li:hover >*{
            @media #{setting.$bp-s-min}{
                animation: clip .3s;
            }
        }
        .is-menu-open & li:not([class]){display: none;}
        .js-menu::before{
            content: "Menu";
            letter-spacing: -.05em;
            .is-menu-open &{
                content: "Close";
                letter-spacing: -.01em;
            }
        }
        a,button{display: block;}
    }
}
