.kv-slider{
    position: sticky;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    // transition: scale .3s linear;
    // .loading &{scale: .4;transition: scale 3s linear;}
    // .loading[data-scene="2"] &{scale: .4;transition: scale .3s linear;}
    // .loading[data-scene="3"] &{scale: 1;transition: scale 3s linear;}
    &__wrapper{
        position: relative;
        height: 150svh;
        background-color: var(--c-primary);
        .kv-no-scroll &{height: 100svh; transition: height .4s 1s;}
        .kv-trigger{
            pointer-events: none;
            height: 40svh;
            width: 100%;
            // background-color: rgba(#000,.5);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__swiper{
        pointer-events: none;
        .swiper-slide{
            width: calc( var(--vw) * 100 );
            height: 100svh;
            overflow: hidden;
            picture img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        // &--progress{
        //     font-feature-settings: "onum";
        //     position: absolute;
        //     z-index: 10;
        //     left: 40px;
        //     bottom: 20px;
        //     display: flex;
        //     align-items: center;
        //     gap: 10px;
        //     line-height: 1;
        //     font-family: var(--f-serif);
        //     font-size: 16px;
        //     font-weight: 500;
        //     letter-spacing: 0;
        //     @media #{$bp-s-max}{
        //         font-size: 12px;
        //         width: fit-content;
        //         flex-direction: column;
        //         padding-bottom: 30%;
        //         gap: 55px;
        //         top: 0;
        //         bottom: 0;
        //         left: -35px;
        //         margin: auto;
        //         justify-content: center;
        //     }
        //     .swiper-pagination-progressbar.swiper-pagination-horizontal{
        //         position: static;
        //         width: 100px;
        //         height: 1px;
        //         @media #{$bp-s-max}{
        //             rotate: 90deg;
        //         }
        //     }
        //     .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
        //         background-color: var(--c-primary);
        //     }
        // }
    }
    .swiper-pagination{
        position: absolute;
        font-feature-settings: "onum";
        padding: 20px;
        top: auto;
        bottom: 0;
        left: 20px;
        width: fit-content;
        height: auto;
        display: flex;
        gap: 10px;
        opacity: 0;
        .kv-view &{opacity: 1;}
        @media #{$bp-s-max}{
            width: fit-content;
            flex-direction: column;
            padding: 9px;
            // padding-bottom: 30%;
            gap: 9px;
            top: 30%;
            bottom: auto;
            left: 10px;
            margin: auto;
            justify-content: center;
        }
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }
    .swiper-pagination-bullet{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        line-height: 1;
        font-family: var(--f-serif);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        gap: 8px;
        @media #{$bp-s-max}{
            // flex-direction: column;
            gap: 3px;
            font-size: 12px;
            line-height: 1;
            writing-mode: vertical-rl;
        }
        &.swiper-pagination-bullet-active{opacity: 1;}
    }
    .pagination_bar{
        width: 100px;
        height: 2px;
        background-color: rgba(#808080,.8);
        position: relative;
        mix-blend-mode: multiply;
        @media #{$bp-s-max}{
            width: 2px;
            height: 100px;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: 0%;
            height: 100%;
            @media #{$bp-s-max}{
                width: 100%;
                height: 0;
            }
            background-color: var(--c-primary);
        }
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active .pagination_bar::after{
        animation: pagination_bar 5s linear forwards;
        @media #{$bp-s-max}{
            animation: scroll_bar 5s linear forwards;
        }
    }
    &__copy{
        position: absolute;
        z-index: 1;
        @media #{$bp-s-max}{
            bottom: -2px;
            left: 0px;
        }
        @media #{$bp-s-min}{
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: calc(100% - 200px);
            height: 100%;
            display: flex;
            align-items: center;
        }
        dt,dd{
            clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
            transition: clip-path .4s ease-out;
            .kv-view &{clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
            &:nth-child(1){transition-delay: 50ms;}
            &:nth-child(2){transition-delay: 100ms;}
            &:nth-child(3){transition-delay: 150ms;}
            &:nth-child(4){transition-delay: 200ms;}
            &:nth-child(5){transition-delay: 250ms;}
        }
    }
    &__scroll{
        @media #{$bp-s-max}{
            display: none;
        }
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 30px;
        font-family: var(--f-serif);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        writing-mode: vertical-rl;
        height: 6em;
        &::after{
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -4px;
            background-color: var(--c-text);
            animation: scroll_bar 2s ease infinite;
        }
    }
    &__passion{
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        aspect-ratio: 1367 / 768;
        translate: -50% -50%;
        .passion_iframe{
            pointer-events: all;
            position: absolute;
            top: 68%;
            left: 53%;
            width: 8%;
            @media #{$bp-s-min}{
                top: 72%;
                .kv1 &{left: 49%;}
                .kv2 &{left: 56%;}
                .kv3 &{left: 55%;}
            }
        }
        perspective: 2000px;
        .kv1 & .passion_iframe{ rotate: y 30deg; }
        .kv2 & .passion_iframe{ rotate: y -20deg; }
        .kv3 & .passion_iframe{ rotate: y -20deg; }
    }
}

@keyframes pagination_bar {
    0% {width: 0;}
    100% {width: 100%;}
}
@keyframes scroll_bar {
    0% {height: 0;}
    100% {height: 100%;}
}