@use "setting";

.l-message-fv{
    display: flex;
    position: relative;
    &::after{
        background-color: #8e9495;
        mix-blend-mode: multiply;
        content: "";
        display: block;
        position: absolute;
        top: 0;left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        opacity: 0;
        transition: opacity 1s linear;
        [data-scene="3"] &,
        [data-scene="4"] &,
        [data-scene="5"] &{ opacity: 1;}
    }
    &__bg{
        width: 0;
        position: relative;
        z-index: -1;
    }
    &__images{
        position: sticky;
        top: 0;
        left: 0;
        width: calc( var(--vw) * 100 );
        height: 100lvh;
        backface-visibility: hidden;
        &--inner{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
        picture{
            opacity: 0;
            backface-visibility: hidden;
            transition: opacity 1s;
        }
        [data-scene="1"] & .i1,
        [data-scene="2"] & .i1{opacity: 1;}
        [data-scene="3"] & .i2{opacity: 1;}
        [data-scene="4"] & .i3{opacity: 1;}
        [data-scene="5"] & .i4{opacity: 1;}
        [data-scene="6"] & .i5,
        [data-scene="7"] & .i5{opacity: 1;}
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__contents{
        position: relative;
        flex: 1;
    }
    &__pagetitle{
        position: relative;
        display: flex;
        align-items: center;
        height: 100lvh;
        @media #{setting.$bp-s-max}{
            width: 100%;
            justify-content: center;
            .e-pagetitle svg{
                height: auto;
                width: 100vw;
            }
        }
        @media #{setting.$bp-s-min}{
            padding: 0 clamp(50px , calc( (100% - 1146px) / 2 ) , 50%);
        }
    }
    &__end{
        display: block;
        height: 100lvh;
    }
    &__triggers{
        pointer-events: none;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        .js-scene-trigger{
            flex: 1;
        }
        .js-scene-trigger:nth-child(odd){background-color: #000;}
    }
}