@use "setting";

.p-chat{
    &__fv{
        display: flex;
        &--sticky{
            width: 0;
        }
        &--title{
            position: sticky;
            top: 50vh;
            // bottom: 0;
            // translate: 0 -100%;
            width: calc(var(--vw) * 100);
            height: 50vh;
            z-index: 5;
            &::before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background: linear-gradient(0deg, rgba(106,138,135,1) 0%, rgba(106,138,135,1) 35%, rgba(106,138,135,0) 100%);
                opacity: 0.5;
                filter: brightness(25%);
                backface-visibility: hidden;
            }
            .title{
                display: block;
                width: calc(100% - 80px);
                max-width: 630px;
                margin: auto;
                translate: 0 50%;
                @media(min-width:730px){
                    transition: opacity .4s;
                    opacity: 0;
                    [data-fv="fv1"] &{opacity: 1;}
                }
            }
            .pc-copy{
                position: absolute;
                left: 0;right: 0;
                bottom: 80px;
                width: calc(100% - 100px);
                max-width: 1150px;
                margin: auto;
                color: var(--c-bg);
                @media(max-width:729px){
                    display: none;
                }
                @media(min-width:730px){
                    transition: opacity .4s;
                    opacity: 0;
                    [data-fv="fv2"] &{opacity: 1;}
                }
                h2{
                    font-family: var(--f-serif);
                    font-size: 52px;
                    line-height: 1.2;
                    margin-bottom: 30px;
                    @media(min-width:870px){
                        .br{display: none;}
                    }
                    @media(min-width:980px){
                        font-size: 60px;
                    }
                }
                p br{
                    display: none;
                    @media(min-width:870px){
                        display: block;
                    }
                }
            }
        }
        &--bg{
            width: 100%;
            position: relative;
            clip-path: inset(0);
            picture{
                display: block;
                width: 100%;
                height: 60vh;
                height: 60lvh;
            }
            img{
                position: fixed;
                top: 0;left: 0;
                width: 100%;
                min-height: 100vh;
                min-height: 100lvh;
                display: block;
                object-fit: cover;
                &.toggle{
                    transition: opacity .4s;
                    opacity: 0;
                    body[data-fv="fv2"] &{opacity: 1;}
                }
            }
        }
    }
    &__sp-copy{
        padding: 40px 20px;
        @media(min-width:730px){display: none;}
        h2{
            font-size: 23px;
            font-family: var(--f-serif);
            line-height: 1.5;
            margin-bottom: 27px;
        }
        p{
            text-align: justify;
            line-height: 24px;
        }
    }
    &__member{
        // overflow-x: auto;
        width: 100%;
        overflow: hidden;
        &--inner{
            width: 100%;
            min-width: 1366px;
            // min-width: 1000px;
            position: relative;
            .name{
                position: absolute;
                top: 0;
                left: 0;
                color: var(--c-bg);
                font-family: var(--f-serif);
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .75em;
                font-size: 12px;
                translate: -50% -10%;
                @media(min-width:730px){translate: -50% 0;}
                strong{font-size: 2em;}
                &.n1{
                    top: 8%;
                    left: 13%;
                }
                &.n2{
                    top: 15%;
                    left: 30%;
                }
                &.n3{
                    top: 15%;
                    left: 42%;
                }
                &.n4{
                    top: 8%;
                    left: 56%;
                }
                &.n5{
                    top: 15%;
                    left: 71%;
                }
                &.n6{
                    top: 5%;
                    left: 86%;
                }
            }
        }
        &--img{
            width: 100%;
            max-height: 100lvh;
            object-fit: cover;
            object-position: 50% 20%;
        }
        &--prof{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: var(--c-bg);
            display: flex;
            justify-content: space-between;
            padding: 26px 60px 36px;
            @media(min-width:1366px){
                padding: 26px 5% 36px;
            }
            dl{
                width: calc((100% / 6) - ( 36px * 5 / 6));
                font-size: 12px;
                line-height: 1.6;
                letter-spacing: 0.02em;
                @media(min-width:1366px){
                    max-width: 220px;
                }
                dt{
                    border-bottom: 1px solid #000;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    @media #{setting.$bp-s-min}{font-size: 13px;}
                }
                dd{
                    text-align: justify;
                    @media #{setting.$bp-s-min}{font-size: 14px;}
                }
            }
        }
    }
    &__headding{
        // text-align: center;
        // margin-top: 50vh;
        // position: sticky;
        // top: 50vh;
        z-index: 10;
        position: absolute;
        margin: auto;
        left: 0;right: 0;
        bottom: 5%;
        text-align: center;
        transition: opacity .3s;
        .l-chat:not([data-scene="1"]) &{opacity: 0;}
        &--chap{
            color: var(--c-primary);
            font-size: 58px;
            font-family: var(--f-serif);
            line-height: 1;
            transition: color .3s;
            .sectionview &{color: #fff;}
            @media #{setting.$bp-l-min}{
                font-size: 130px;
            }
            i{
                display: block;
                font-size: 12px;
                @media #{setting.$bp-l-min}{
                    font-size: 26px;
                }
            }
        }
        &--main{
            color: var(--c-primary);
            font-size: 22px;
            font-family: var(--f-serif);
            font-weight: 600;
            line-height: 1.4;
            margin: .5em 0 1em;
            transition: color .3s;
            .sectionview &{color: #fff;}
            @media #{setting.$bp-s-min}{
                font-size: 50px;
                margin: .25em 0 .25em;
            }
            @media #{setting.$bp-l-min}{
                br{display: none;}
            }
        }
        &--lead{
            @include setting.fw(500);
            transition: color .3s;
            .sectionview &{color: #fff;}
            &::before{
                content: "Q.";
                display: inline-block;
                font-family: var(--f-serif);
                translate: 0 -20%;
            }
            @media #{setting.$bp-l-min}{
                br{display: none;}
            }
        }
        // margin-bottom: 75px;
        // @media #{$bp-s-max}{
        //     .e-pagetitle svg{height: 100px;}
        // }
        // @media #{$bp-s-min}{
        //     margin-bottom: 80px;
        // }
    }
    // &__fv{
    //     width: 100%;
    //     object-fit: cover;
    //     margin-bottom: 45px;
    //     @media #{$bp-s-min}{
    //         margin-bottom: 130px;
    //         max-height: 370px;
    //     }
    // }
    &__section{
        padding: 180lvh 0;
        position: relative;
        z-index: 0;
        overflow: hidden;
        @media #{setting.$bp-l-min}{
            padding: 100lvh 0;
            @media(max-height:850px){
                padding: 150lvh 0;
            }
        }
        // &+&{
        //     margin-top: 90px;
        //     @media #{$bp-s-min}{margin-top: 155px;}
        // }
    }
}