@use "setting";

.simpleParallax:has(.p-info__fv){
    margin-bottom: 45px;
    @media #{setting.$bp-s-min}{
        margin-bottom: 130px;
    }
}
.p-info{
    &__pagetitle{
        margin-bottom: 75px;
        @media #{setting.$bp-s-max}{
            .e-pagetitle svg{height: 100px;}
        }
        @media #{setting.$bp-s-min}{
            margin-bottom: 80px;
        }
    }
    &__fv{
        img{
            width: 100%;
            object-fit: cover;
            @media #{setting.$bp-s-min}{
                max-height: 370px;
            }
        }
    }
    &__section{
        &+&{
            margin-top: 90px;
            @media #{setting.$bp-s-min}{margin-top: 155px;}
        }
    }
}