@use "setting";

.p-welfare{
    &__pagetitle{
        margin-bottom: 75px;
        // @media #{$bp-s-max}{
        //     .e-pagetitle svg{height: 100px;}
        // }
        @media #{setting.$bp-s-min}{
            margin-bottom: 80px;
        }
    }
    &__fv{
        width: 100%;
        object-fit: cover;
        margin-bottom: 45px;
        @media #{setting.$bp-s-min}{
            margin-bottom: 130px;
            max-height: 370px;
        }
    }
    &__nav{
        display: flex;
        // margin: 60px auto 90px;
        justify-content: center;
        gap: 2em;
        font-size: 20px;
        font-family: var(--f-serif);
        // font-weight: 600;
        @media #{setting.$bp-l-min}{
            flex-direction: column;
            padding-left: 60px;
            // margin: 0;
        }
        [data-sec="work"] & [href="#work"],
        [data-sec="system"] & [href="#system"],
        [data-sec="event"] & [href="#event"]{
            color: var(--c-primary);
            position: relative;
            &::before{
                content: "";
                display: block;
                background-color: var(--c-primary);
                width: .75em;
                height: 1px;
                position: absolute;
                left: -.25em;
                top: 50%;
                translate: -100% -50%;
                @media #{setting.$bp-l-min}{
                    width: 55px;
                }
            }
        }
    }
    &__section{
        max-width: 1010px;
        margin: auto;
        &+&{
            margin-top: 170px;
            @media #{setting.$bp-s-min}{margin-top: 200px;}
        }
    }
    &__block{
        @media #{setting.$bp-l-min}{
            padding-right: 20px;
            max-width: 1010px;
        }
        @media (min-width:1100px){
            display: flex;
            align-items: flex-start;
            gap: 7%;
            padding: 0;
        }
        &+&{
            margin-top: 45px;
            @media #{setting.$bp-s-min}{
                margin-top: 150px;
            }
        }
        &--txt{
            font-size: 14px;
            line-height: 1.85;
            text-align: justify;
            @media #{setting.$bp-s-min}{
                font-size: 18px;
            }
            h3{
                font-size: 24px;
                line-height: 1;
                font-family: var(--f-serif);
                color: var(--c-primary);
                margin-bottom: 15px;
                @media #{setting.$bp-s-min}{
                    font-size: 37px;
                    margin-bottom: 20px;
                }
                @media (min-width:1100px){
                    font-size: clamp(15px,2.2vw,35px);
                }
            }
            small{
                display: block;
                font-size: 12px;
                line-height: 1.6;
                margin-top: 2em;
                @media #{setting.$bp-s-min}{
                    font-size: 13px;
                }
            }
        }
        &--img{
            margin-top: 45px;
            width: calc(100% + 20px);
            max-width: none;
            margin-right: -20px;
            // @media #{$bp-s-min}{
            //     margin: 0;
            //     width: 492px;
            //     max-width: 100%;
            //     flex: 1;
            // }
            @media (min-width:1100px){
                margin: 0;
                width: 48.7%;
            }
        }
    }
}