.top-statement{
    background-color: var(--c-primary);
    padding: 50px 0 60px;
    @media #{$bp-s-min}{
        padding: 160px 0 200px;
    }
    &__inner{
        width: calc(100% - 80px);
        @media (max-width:370px){width: calc(100% - 40px);}
        max-width: 708px;
        margin: auto;
        >p{
            font-family: var(--f-serif);
            font-size: 20px;
            line-height: 1.75;
            letter-spacing: -.05em;
            @media #{$bp-l-min}{
                font-size: 28px;
            }
            &+p{
                margin-top: 1.75em;
            }
        }
        .e-copy-passion{
            margin-top: 50px;
            @media #{$bp-s-min}{margin-top: 0;}
        }
        .mask{
            transition: clip-path .4s ease-in-out;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            @for $i from 0 through 16 {
                &.d#{$i}{
                    transition-delay: $i * 0.3s;
                }
            }
        }
        &.inviewed .mask{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}