.top-index{
    --h-sp:154px;
    --h-pc:180px;
    position: relative;
    z-index: 0;
    border-top: 1px solid var(--c-text);
    border-bottom: 1px solid var(--c-text);
    display: block;
    background-color: var(--c-document);
    height: var(--h-sp);
    overflow: hidden;
    transition: height .6s;
    @media #{$bp-l-min}{
        height: var(--h-pc);
    }
    &.is-open{
        height: 640px;
        @media #{$bp-l-min}{
            height: 768px;
        }
    }
    &+&{border-top: none;}
    &.disabled{
        pointer-events: none;
        user-select: none;
        color: #b5b5b6;
        svg{fill: #b5b5b6!important;}
        .top-index__arrow{background-color: #f89097;}
    }
    &__wapper{}
    &__photo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        // object-position: left top;
        opacity: 0;
        transition: opacity .6s;
        .top-index.is-open &{
            opacity: 1;
        }
    }
    &__title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;
        height: var(--h-sp);
        padding-left: 18px;
        padding-right: 90px;
        @media #{$bp-s-min}{
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        @media #{$bp-l-min}{
            height: var(--h-pc);
            gap: 35px;
            padding-left: 60px;
            padding-right: 120px;
        }
        @media (max-width:370px){
            gap: 10px;
        }
        svg{
            height: 42px;
            @media (min-width:800px){
                height: 77px;
            }
            @media (max-width:370px){
                height: 30px;
            }
        }
        .top-index.is-open &{
            color: var(--c-bg);
            svg{fill: var(--c-bg);}
        }
    }
    &__text{
        font-family: var(--f-serif);
        line-height: 1.6;
        font-size: 12px;
        letter-spacing: 0;
        @media #{$bp-l-min}{
            flex: 1;
            font-size: 18px;
        }
        @media (max-width:370px){
            font-size: 10px;
        }
        strong{
            display: block;
            font-weight: 700;
        }
    }
    &__arrow{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 49px 0;
        width: 66px;
        // height: calc(var(--h-pc) - 1px);
        height: 100%;
        background-color: var(--c-primary);
        position: absolute;
        bottom: 0;
        right: 0;
        @media #{$bp-l-min}{
            width: 120px;
            padding: 46px 0;
        }
        .top-index.is-open &{
            background-color: transparent;
        }
        svg{
            width: 33px;
            @media #{$bp-l-min}{
                width: 60px;
            }
            .top-index.is-open &{
                fill: var(--c-bg);
            }
        }
    }
}