@charset "UTF-8";
$bp-s-min:"(min-width:600px)";
$bp-s-max:"(max-width:599px)";
$bp-l-min:"(min-width:1025px)";
$bp-l-max:"(max-width:1024px)";
@mixin fw($size:400) {
    font-variation-settings: "wght" $size;
    // font-weight: $size;
}

// %font-ja-r{ font-family: toppan-bunkyu-gothic-pr6n, sans-serif; font-weight: 400; }
// %font-ja-db{ font-family: toppan-bunkyu-gothic-pr6n, sans-serif; font-weight: 600; }
// %font-ja-eb{ font-family: toppan-bunkyu-midashi-go-std, sans-serif; font-weight: 900; }
// %font-en-r{ font-family: montserrat, sans-serif; font-weight: 400; }
// %font-en-m{ font-family: montserrat, sans-serif; font-weight: 500; }
// %font-en-b{ font-family: montserrat, sans-serif; font-weight: 700; }

:root{
    --c-primary: #ed1c24;
    --color-secondary: #fbb03b;
    --c-text: #231815;
    --c-bg: #fff;
    --c-document: #e9e8e7;
    --f-sans: source-han-sans-jp-variable, sans-serif;
    --f-serif: shippori-mincho, serif;
}
@import "base";
@import "swiper-bundle.min";
@import "swiper";
// @import "mouseStalker";

@media #{$bp-s-max}{
    .pc{display: none;}
    .sp{display: block;}
}
@media #{$bp-s-min}{
    .pc{display: block;}
    .sp{display: none;}
}
.grecaptcha-badge { visibility: hidden; }
html{
    background-color: var(--c-document);
    font-family: var(--f-sans);
    @include fw(400);
    font-weight: unset;
    font-size: 14px;
    letter-spacing: 0.1em;
    @media #{$bp-s-min}{
        font-size: 18px;
    }
}
svg{
    fill: var(--c-text);
}
.passion_iframe{
    // aspect-ratio: 226 / 328;
    aspect-ratio: 897 / 1253;
    overflow: visible;
    border: none;
    outline: none;
    pointer-events: none
}

//グローバル部品
@import "global-header";
@import "global-menu";
@import "global-footer";
@import "global-cv";

@import "kv-slider";
@import "top-index";
@import "top-statement";

@import "l-about-sticky";
@import "l-welfare-sticky";
@import "l-message-fv";
@import "l-chat";
@import "l-one-day";

@import "b-loading";
@import "b-contact-form";
@import "b-information";
@import "b-flow";
@import "b-faq";
@import "b-job-block";
@import "b-aco";
@import "b-about-slider";
@import "b-chat-section";
@import "b-day";

@import "e-copy";
@import "e-navigation";
@import "e-pagetitle";
@import "e-heading";
@import "e-about-navi";
@import "e-headline";
@import "e-card";
@import "e-scrollprompter";

@import "p-message";
@import "p-about";
@import "p-info";
@import "p-welfare";
@import "p-gallery";
@import "p-chat";
@import "p-one-day";


// body{ view-transition-name: body; }
// @keyframes slide-out {
//     from { translate: 0 0; filter: blur(0);}
//     to { translate: -100% 0; filter: blur(40px);}
// }
// @keyframes slide-in {
//     from { translate: 100% 0; filter: blur(40px);}
//     to { translate: 0 0; filter: blur(0);}
// }
// ::view-transition-old(body) {
//     animation: 0.2s ease both slide-out;
// }
// ::view-transition-new(body) {
//     animation: 0.2s 0.2s ease both slide-in;
// }

a:hover{
    &.b-day-other__item svg,
    &.p-one-day__index svg,
    &.global-menu__entry img,
    .e-navigation-list__item & i img,
    &.global-cv__button i img,
    .top-index__arrow svg,
    .b-day-other__back & svg{
        animation: hov_arrow 1s infinite;
    }
}
@keyframes hov_arrow {
    0%{transform: translateX(-25%);}
    100%{transform: translateX(25%);}
}
