@charset "UTF-8";
@use "sass:meta";
@use "setting";
:root{
    --c-primary: #ed1c24;
    --color-secondary: #fbb03b;
    --c-text: #231815;
    --c-bg: #fff;
    --c-document: #e9e8e7;
    --f-sans: source-han-sans-jp-variable, sans-serif;
    --f-serif: shippori-mincho, serif;
}
@include meta.load-css("base");
@include meta.load-css("swiper-bundle.min");
@include meta.load-css("swiper");
// @import "mouseStalker";

@media #{setting.$bp-s-max}{
    .pc{display: none;}
    .sp{display: block;}
}
@media #{setting.$bp-s-min}{
    .pc{display: block;}
    .sp{display: none;}
}
.grecaptcha-badge { visibility: hidden; }
html{
    background-color: var(--c-document);
    font-family: var(--f-sans);
    @include setting.fw(400);
    font-weight: unset;
    font-size: 14px;
    letter-spacing: 0.1em;
    @media #{setting.$bp-s-min}{
        font-size: 18px;
    }
}
svg{
    fill: var(--c-text);
}
.passion_iframe{
    // aspect-ratio: 226 / 328;
    aspect-ratio: 897 / 1253;
    overflow: visible;
    border: none;
    outline: none;
    pointer-events: none
}

//グローバル部品
@include meta.load-css("global-header");
@include meta.load-css("global-menu");
@include meta.load-css("global-footer");
@include meta.load-css("global-cv");

@include meta.load-css("kv-slider");
@include meta.load-css("top-index");
@include meta.load-css("top-statement");

@include meta.load-css("l-about-sticky");
@include meta.load-css("l-welfare-sticky");
@include meta.load-css("l-message-fv");
@include meta.load-css("l-chat");
@include meta.load-css("l-one-day");

@include meta.load-css("b-loading");
@include meta.load-css("b-contact-form");
@include meta.load-css("b-information");
@include meta.load-css("b-flow");
@include meta.load-css("b-faq");
@include meta.load-css("b-job-block");
@include meta.load-css("b-aco");
@include meta.load-css("b-about-slider");
@include meta.load-css("b-chat-section");
@include meta.load-css("b-day");

@include meta.load-css("e-copy");
@include meta.load-css("e-navigation");
@include meta.load-css("e-pagetitle");
@include meta.load-css("e-heading");
@include meta.load-css("e-about-navi");
@include meta.load-css("e-headline");
@include meta.load-css("e-card");
@include meta.load-css("e-scrollprompter");

@include meta.load-css("p-message");
@include meta.load-css("p-about");
@include meta.load-css("p-info");
@include meta.load-css("p-welfare");
@include meta.load-css("p-gallery");
@include meta.load-css("p-chat");
@include meta.load-css("p-one-day");


// body{ view-transition-name: body; }
// @keyframes slide-out {
//     from { translate: 0 0; filter: blur(0);}
//     to { translate: -100% 0; filter: blur(40px);}
// }
// @keyframes slide-in {
//     from { translate: 100% 0; filter: blur(40px);}
//     to { translate: 0 0; filter: blur(0);}
// }
// ::view-transition-old(body) {
//     animation: 0.2s ease both slide-out;
// }
// ::view-transition-new(body) {
//     animation: 0.2s 0.2s ease both slide-in;
// }

a:hover{
    &.b-day-other__item svg,
    &.p-one-day__index svg,
    &.global-menu__entry img,
    .e-navigation-list__item & i img,
    &.global-cv__button i img,
    .top-index__arrow svg,
    .b-day-other__back & svg{
        animation: hov_arrow 1s infinite;
    }
}
@keyframes hov_arrow {
    0%{transform: translateX(-25%);}
    100%{transform: translateX(25%);}
}
